{% extends 'base.html' %}
{% load i18n %}
{% block content %}


			<div class="page-heading about-us-heading">
				<span></span> <!-- for dark-overlay on the bg -->

				<div class="container">
					<h1>Privacy <span>Policy</span></h1>

					<div class="heading-link">
						<a href="/">Home</a>

						<i>/</i>

						<a href="/privacy">Privacy policy</a>
					</div>

				</div> <!-- END .container-->
			</div> <!-- END .about-us-heading -->

		</div> <!-- END .SEARCH and slide-section -->
	</header> <!-- end #header -->

	<div id="page-content">
		<div class="container">
			<div class="page-content">
			  <div class="about-us">

					
          <p>This Privacy Policy governs the manner in which Eventswat.com collects, uses, maintains and discloses information collected from users of the Eventswat.com website. This privacy policy applies to the Site and all products and services offered by Eventswat.com. The name ‘Eventswat.com‘ has been used interchangeable with ‘Eventswat.com’.</p>

          <p><strong>Personal identification information</strong></p>

          <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

          <p><strong>Non-personal identification information</strong></p>

          <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

          <p><strong>Web browser cookies</strong></p>

          <p>Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

          <p><strong>How we use collected information</strong></p>

          <p>Eventswat.com may collect and use Users personal information for the following purposes:</p>

          <div class="privacy_collect">
            <p><strong>To improve customer service :</strong> Information you provide helps us respond to your customer service requests and support needs more efficiently.</p>

            <p><strong>To personalize user experience :</strong> We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</p>

            <p><strong>To improve our Site:</strong> We may use feedback you provide to improve our products and services.</p>
            <p><strong>To run a promotion, contest, survey or other Site feature:</strong> To send Users information they agreed to receive about topics we think will be of interest to them.</p>

            <p><strong>To send periodic emails:</strong> We may use the email address to send User information and updates pertaining to their order.</p>
          </div>
          <p><strong>How we protect your information</strong></p>

          <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

          <p>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>

          <p><strong>Controlling your personal information</strong></p>

          <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen. You may request details of personal information which we hold about you under the Data Protection Act. If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>

          <p><strong>Compliance with children’s online privacy protection act</strong></p>

          <p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>

          <p><strong>Changes to this privacy policy</strong></p>

          <p>Eventswat.com has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

          <p><strong>Your acceptance of these terms</strong></p>

          <p>By using this Site, you signify your acceptance of this policy and term of services. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>

          <p><strong>Contacting us</strong></p>

          <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:eventswat.com.</p>
				</div> <!-- end .about-us -->
			</div> <!-- end .page-content -->
		</div> <!-- end .container -->

	</div> <!-- end #page-content -->


{% endblock %}
