{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %} 
{% block content %}
<div class="page-heading contact-us-heading">
    <span></span> <!-- for dark-overlay on the bg -->
    <div class="container">
        <h1>Post <span>Banner</span></h1>
        <div class="heading-link">
            <a href="/">Home</a><i>/</i>
            <a href="/banner">Post Banner</a>
        </div>
    </div> <!-- END .container-->
</div> <!-- END .about-us-heading -->
{% if message%}
    <script type="text/javascript">
       window.onload = function(){ window.location="http://{{request.META.HTTP_HOST}}/banner"; }
    </script>
    <h4 class="text-center">{{message}}</h4>
{%endif%}
<div class="banner_form">
    <form action="{%url "events.views.upload_banner" %}" name="upload_banner" enctype="multipart/form-data" method="POST" id="banner_post">
       {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <input type='file' id='banner' class="banner" name='banner' value="" />
                <label for="image_required" class="imageError" style="display:none;color:red;">Please select image</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <select  name="pageurl" class="pageurl_required" id="pageurl_required">
                    <option selected="selected" value="Select Page URL">Select Page URL</option>
                    <option value="/">Home</option>
                    <option value="event/">Listing page</option>
                    <option value="details/">Detail page</option>
                </select>
                <label for="pageurl_required" id="pageurl_required1" class="pageurl_labelError" style="display:none;color:red;">Please select Page URL</label>
            </div>
            <div class="col-md-6">

                <select  name="position" class="position_required" id="position_required">
                    <option selected="selected" value="Select Position">Select Position</option>
                </select>
                <label for="position_required" id="position_required1" class="position_labelError" style="display:none;color:red;">Please select Position</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="banner_price_act">Amount: 0.0</span>
                <input type="hidden" placeholder="Price" name="price" id="price_required" class="price_required">
                <label for="price_required" id="price_required1" class="price_labelError" style="display:none;color:red;">Please select Price</label>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="link" name="link" id="link_required" class="link_required">
                <label for="link_required" id="link_required1" class="link_labelError" style="display:none;color:red;">Please enter Link</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input class="btn btn-default" type="submit" value="Upload" id="banner_upload" />
            </div>
        </div>
    </form>
</div>
<div class="payment">
	<form method="post" action="{% url "payu.views.buy_order" %}" name="payment_form">{% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <h5><strong>PayU Money</strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select name="initial" class="prefix_required">
                        <option selected="selected" value="Select">Select</option>
                        <option value="mr">Mr</option>
                        <option value="mrs">Mrs</option>
                        <option value="miss">Miss</option>
                    </select>
                    <label id="festtype_required" class="prefix_labelError" style="font-size:15px;color:red;display:none;">Select this field</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input id="fname_required" class="form-control fname" type="text" name="fname" placeholder="Firstname">
                    <label for="fname_required" class="pay_labelError" style="display:none;color:red;">Please enter First name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input id="lname_required" class="form-control lname" type="text" name="lname" placeholder="Lastname"/>
                    <label for="lname_required" class="pay_labelError" style="display:none;color:red;">Please enter Last name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input id="mobileno_val"class="form-control mobileno" type="text" name="pnumber"  placeholder="Mobile no"/>
                    <label for="mobileno_val" class="pay_labelError" style="display:none;color:red;">Please enter Mobile number</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input id="email_blank" class="form-control email" type="text" name="email"  placeholder="Email"/>
                    <label for="email_blank" class="pay_labelError" style="display:none;color:red;">Please Email</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5><strong>Amount</strong></h5>
                    <span class="banner_price"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-default" id ="paynow" type="submit">Make payment</button>
                <p class="margintop5">By Clicking on Make payment, you agree to all the <a href="#">Terms and Conditions</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock %}