{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}


    <!-- Advance Search Form -->

    {%block search_results%}
        
        <div class="left_part">
          <div class="refine_results"><h4>Refine Your Results</h4></div>               
        <div id="cssmenu">
        
        <!-- Normal Search and Advance Form Start --> 
        <form id="form_search_filter" class="form_search_filter">
             <input id="search_form" type="hidden" name="{{form.q.html_name}}"  value="{{form.q.value|default:''}}"/>
             <input type="hidden" name="page"  value="{{page.number}}"/>  
             <input type="hidden" name="city" id="city" value="">                

             <ul class="main_list">             
                  <!--  All Categories & Sub-Categories to Display in Advance Search-->   
                      <li class="list_folder">All category 
                          <ul class="hide_list categoryclick">
                           {% for categories in initial_load|get_categories %}
                              <li class="list_folder">
                              <a class="has_sub categoryselected get">
                               {{categories}}
                                 <!-- <span class="hidelist1 ajax_categoryid">
                                      {{categories.id}}
                                  </span>  -->
                                
                                <span class="product_quantity"> {{ categories.count }}                         
                                </span> 
                                  
                               
                              </a>
                              
                                  <ul class="hide_list hidelist1 subclick">
                                  {% for subcategories in categories.id|get_subcategories %}
                                      <li class="list_folder parent_li">

                                      <span class="has_sub subcategory_choose get1">{{subcategories}}                                  
                                      </span>
                                      <!-- <input type="hidden" class="has_sub subcategory_chooseid" id="subcategoryid"  value="{{subcategories.id}} " name="subcategoryid"/>  -->                                    
                                     
                                      <span class="has_sub hidelist1 ajax_subid">
                                      {{subcategories.id}}                                  
                                      </span> 
                                       <span class="product_quantity">{{subcategories.id|get_subcategoriesCount}} 
                                        </span>
                                         
                                       </li> 
                                      {% endfor %}

                                     
                                    </ul>
                              </li>
                          {% endfor %} 
                        </ul>
                     <!--    <input type="hidden"  id="categoryid"  value="" name="categoryid"> -->
                         <input type="hidden" class="has_sub subcategory_chooseid" id="subcategoryid"  value="" name="subcategoryid"/>   
                      </li>

                 <!--  All Brands Type to Display in Advance Search-->    
                      <li class="brand_folder list_folder"> <b>Brands </b>
                          <ul class="hiddenclass hide_list" id="brand_toggle">
                            <!-- Location Auto complete -->
                           <!--  <div class="location_holder">     -->              
                                <!-- <input type="text" class="location" style="size: 12" id="typeandbrandtxt" name= "typeandbrandtxt" value="{{form.name.value|default:''}}" placeholder="Type any brand"/> -->

                                <!-- <input type="hidden" class="location" style="size: 12" id="typeandbrand" name="{{form.name.html_name}}"value="{{form.name.value|default:''}}" placeholder="Type any brand"/> -->                  
                           <!--  </div> -->
                            <!-- <div id="listbrandtypes"> -->
                                <!-- <input type="hidden" id="brandsubcategoryid" name ="brandtype" value="" /> -->
                            <!-- </div> -->
                          </ul>
                           <input type="hidden" id="brandsubcategoryid" name ="brandtype" value="" />
                      </li>
                      <!--  All PriceOptions to Display in Advance Search-->   
                      <li class="list_folder"><b>Price</b> 
                          <ul class="hide_list hidelist1">                            
                               <li class="list_folder">
                               <input type="checkbox" class="css-checkbox sme pricerange" name="pricerange" value ="0.0#1000.0" />
                               <label for="checkbox1">Rs1000 &amp; Below</label>  
                               </li>
                               <li class="list_folder">
                               <input type="checkbox" class="pricerange" name="pricerange" value ="1000.0#5000.0"/>
                                    <label for="checkbox1">Rs 1000 - Rs 5000</label>  
                               </li>
                               <li class="list_folder">
                               <input type="checkbox" class="pricerange" name="pricerange" value ="5000.0#15000.0"/>
                                    <label for="checkbox1">Rs 5000 - Rs 15000</label>  
                               </li>
                               <li class="list_folder">
                               <input type="checkbox" class="pricerange" name="pricerange" value ="15000.0#25000.0"/>
                                    <label for="checkbox1">Rs 15000 - Rs 25000</label>  
                               </li>
                               <li class="list_folder">
                               <input type="checkbox" class="pricerange" name="pricerange" value ="25000.0#50000.0"/>
                                    <label for="checkbox1">Rs 25000 - Rs 50000</label>  
                               </li>

                               <li class="list_folder">
                               <input type="checkbox" class="pricerange" name="pricerange" value ="50000.0#1000000.0"/>
                                    <label for="checkbox1">Rs 50000 & Above</label>  
                               </li>
                                                                  
                               <input type="hidden" id="price_start" value="" name="price_start"/>
                               <input type="hidden" id="price_end" value="" name="price_end"/>

                          </ul>
                      </li>
            </ul>
           </form> 
           </div>
        </div> <!-- left_part -->
    {%endblock%}      
{%endif%}

{%block search_results1%}
<div class="fl filter_result_wrapper" id="search_result" style="position:relative;">   
<!-- <div id="richmedia_6">
  <a href="http://a.tribalfusion.com/h.click/agmP8qpTB45FM5VrfZaW671Pqf0QV3pStZbM1WZbxVPbw3Vv1XUUDUmPq5mQ9P6MC2HBq1HQAndEn5PvQ3sUeTGQ8WcngR6FmTWFRWrjP3F2oVa7tTT39QTrZaQVZbCQUiwRHY7UVv55Fquodyq0qmp2HbGSGbA26rEptiyTtZb6XFbcYUF6XqarPbJstnXsdv/http://download.mywebface.com/index.jhtml?partner=GRxdm059&amp;offer_id=869&amp;a=302&amp;oc=1204&amp;c=3440&amp;dm=1&amp;s1=225556&amp;s2=&amp;s3=&amp;s4=&amp;s5=" target="_blank">
  <img width="728" height="90" border="0" src="http://cdnx.tribalfusion.com/media/3794856.gif">
  </a>
</div>          -->
      <div class="right_part">
        {% if page and page.object_list %}
        <div class="top_part">
          <!-- <p>{{ page.number }} - {{page.paginator.num_pages}} of {{ page.object_list.count }} Results</p> -->
          <p>{{ page.number }} of {{page.paginator.num_pages}} Results</p>
          <div class="founded_no">
          </div>

         <div class="sort_part">
              <span class="sortclass">{% trans "Sort by" %}</span>
              <div class="choose_select sorting_custom_select">
                          <div class="choose">
                            <p id="prov_custom_sort_value_act">{% trans "select" %}</p>
                            <i class="fa fa-caret-down new_icon"></i>
                          </div> <!-- select -->
                          <select class="prov_custom_sort_value_act option_color" id ="sorteddata"  name="{{form.sorteddata.html_name}}" value="{{form.sorteddata.value|default:''}}">
                             <option value="">{% trans "none" %}</option>
                          <option value="Createddate">{% trans "Created Date" %}</option>
                         <!--  <option value="onlineusers">{% trans  "online users" %}</option> -->
                          <option value="pricelow" {% ifequal sort "Price -Low to High" %} selected {% endifequal %}>{% trans "PriceLow to High" %}</option>
                          <option value="pricehigh" {% ifequal sort "Price -High to Low" %} selected {% endifequal %}>{% trans "PriceHigh to Low" %}</option>
                          </select>
                          <input type="hidden" id ="sorteddata" name="sorteddata" value="" />
              </div><!-- custom_select -->
              
          </div> <!-- sort_part -->
        </div> <!-- top_part -->

        <div class="">

          <ul class="product1">
              {% for product in page.object_list %}
              {% if product.object %}
                <li class="product_list1">
                <div class="product_images1 bg-img">
                    
                     <p class="{% if product.object.premium_plan_id = 1 %} premium-img1 {% elif product.object.premium_plan_id = 2 %} premium-img2 {% elif product.object.premium_plan_id = 3 %} premium-img3 {% endif%} "></p>   
                    
                    
                    {% if product.object.photos = '' %}
                    <a href="{% url product_detail product.object.id %}">
                    <img src="/static/img/bg-img1.png">  
                    </a>
                    {% else %}
                    <a href="{% url product_detail product.object.id %}">                  
                    <img src="{{ STATIC_ROOT }}/{{ product.object.photos|get_photos }}">             
                    </a>
                    {% endif %}
                    <div class="count_holder1">
                        <span>{{product.object.imagecount}}</span>
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
                <div class="details">
                  <div class="product_name1">
                      <a href="{% url product_detail product.object.id %}" class="spans"> {{product.object.title}}</a>
                      
                      <span class="product_description1">{{product.object.description}}</span>
                      <!-- <span class="additional_description">{{product.object.description}}</span> -->
                      
                      <span class="model_year1"> {{product.object.condition}} | in {{product.object.city.city}} | By {{product.object.you_are}}</span>
                      <span class="year">{{product.object.created_date}}</span>
                  </div>
                  <div class="additional_details">
                    <h3>{{product.object.price}}</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1"><i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <div class="product_users" style="display:none;">{{product.object.userprofile.user.username}}</div>

                    <!-- <a class="btn btn-default contact_button contact-button" href="javascript:openChatBox('{{product.object.userprofile.user.first_name}}', '', false)"> Chat Now</a> -->
                    <div id='main-sort-chat' class='main-sort-chat main-chat-window'>
                    <!-- <a class="btn btn-default contact_button contact-button" href="#"> Chat Now</a> -->
                    </div>
                  </div>
                  <span class="product_title_for_chat">{{product.object.title}}</span>
                </div>
                </li>
                {% if forloop.counter == 5 %}
                <li>
                  <!-- <div id="richmedia_6">
                   <script src="http://a.tribalfusion.com/j.ad?flashVer=0&amp;ver=1.27&amp;th=12052180711&amp;tagKey=2429344267&amp;site=faadooengineerscom&amp;adSpace=ros&amp;center=1&amp;size=728x90&amp;env=display&amp;url=http%3A%2F%2Fwww.faadooengineers.com%2Fthreads%2F2771-PHP-programming-Basic-Study-material&amp;rurl=http%3A%2F%2Fwww.google.co.in%2Furl%3Fsa%3Dt%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dweb%26cd%3D3%26cad%3Drja%26uact%3D8%26ved%3D0CDQQFjAC%26url%3Dhttp%253A%252F%252Fwww.faadooengineers.com%252Fthreads%252F2771-PHP-programming-Basic-Study-material%26ei%3Div6EVZ7JAYeRuAS05bCAAQ%26usg%3DAFQjCNGrmM3sWndZwp4irdeANs6R_OFnNA&amp;f=0&amp;p=4891703&amp;a=5&amp;adContainerId=richmedia_6&amp;rnd=4894557" type="text/javascript"></script>
                </div>          -->
                </li>
                {% endif %}
            {%endif%}
            {% endfor %}
          </ul>
        </div>
        <div class="bottom_part">
           <p>{{ page.number }} of {{page.paginator.num_pages}} Results</p>
          <div class="pagination" id="pagination_filter">
            <ul class="pagination">
            
              <li>
              {% if page.has_previous %} 
              <a data-ajaxlink="true" data-ajaxpage="{{ page.previous_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.previous_page_number }}">
              <i class="fa  fa-angle-double-left"></i></a> 
              {% endif %}
              </li>
              {% for p in page.paginator.page_range %}
              {% if p|add:5 >= page.number and p|add:-5 <= page.number %}
              <li {% if p == page.number %} class="active"{% endif %}>
              <a data-ajaxlink="true" data-ajaxpage="{{ p }}" href="?q={{request.REQUEST.q}}&page={{ p }}">
              {{ p }}
              </a>
              </li> 
              {% endif %}
              {% endfor %}
              
              <li>
              {% if page.has_next %} 
              <a data-ajaxlink="true" data-ajaxpage="{{ page.next_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.next_page_number }}">
              <i class="fa  fa-angle-double-right"></i>
              </a> 
              {% endif %}
              </li> 
           
            </ul>
          </div>
        </div> <!-- bottom_part -->
        
        <div id="chat_div"></div>

         {% else %}
             <div class="right_align"><span>{% trans "No Results Found" %}</span></div>
        
        {%endif%}
      </div> <!-- right_part -->
{%if not request.is_ajax%}
</div><!--filter_result_wrapper-->
<div class="clear_both"> </div> 
{%endif%}
{%endblock%}

    
