{% extends 'base.html' %}
{% load i18n %}
{% block content %}


			<div class="page-heading about-us-heading">
				<span></span> <!-- for dark-overlay on the bg -->

				<div class="container">
					<h1>About <span>Us</span></h1>

					<div class="heading-link">
						<a href="/">Home</a>

						<i>/</i>

						<a href="/about">About Us</a>
					</div>

				</div> <!-- END .container-->
			</div> <!-- END .about-us-heading -->

		</div> <!-- END .SEARCH and slide-section -->
	</header> <!-- end #header -->

	<div id="page-content">
		<div class="container">
			<div class="page-content">
			  <div class="about-us">
					<h3><strong>About</strong> Eventswat</h3>

					<p><strong>Eventswat.com (website) is an internet based portal owned and operated by as Online , a company incorporated under laws of India.
          Eventswat.com is social platform to create, publish, manage, promote and share events and activities in stylish and unique ways. Whether it is personal or social or business, you can publish event/activity here for free.
          Eventswat.com services has been used by lacs of users and many renowned corporate, colleges, clubs , event companies , Institutes like TIECON, RAI, IITs, IIMs, Rotary club etc, thus providing services to all sections of society.</strong></p>

		
					<!-- <h3 class="team"><strong>Our</strong> Team</h3>
 -->
          <!-- <div class="row">

  					<div class="col-md-6 col-sm-6 col-lg-3">
  						<div class="member-details">
  							<div class="porfile-pic">
  								<img src="img/content/team-member-1.jpg" alt="">

  								<ul class="list-inline">
  									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  								</ul>
  							</div>

  							<h3><a href="#">Abu Antar</a></h3>

  							<p class="title">Ceo</p>

  							<p>Donec venenatis, turpis vel hendrerit interdum,
  								dui ligula ultricies purus, sed posuere libero dui id orci.</p>

  						</div> 
  					</div> 

  					<div class="col-md-6 col-sm-6 col-lg-3">
  						<div class="member-details">
  							<div class="porfile-pic">
  								<img src="img/content/team-member-2.jpg" alt="">

  								<ul class="list-inline">
  									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  								</ul>
  							</div>

  							<h3><a href="#">John Doe</a></h3>

  							<p class="title">Co-Founder</p>

  							<p>Donec venenatis, turpis vel hendrerit interdum,
  								dui ligula ultricies purus, sed posuere libero dui id orci.</p>

  						</div> 
  					</div> end grid-layout

  					<div class="col-md-6 col-sm-6 col-lg-3">
  						<div class="member-details">
  							<div class="porfile-pic">
  								<img src="img/content/team-member-3.jpg" alt="">

  								<ul class="list-inline">
  									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  								</ul>
  							</div>

  							<h3><a href="#">Jane Doe</a></h3>

  							<p class="title">Pr</p>

  							<p>Donec venenatis, turpis vel hendrerit interdum,
  								dui ligula ultricies purus, sed posuere libero dui id orci.</p>

  						</div> 
  					</div> 

  					<div class="col-md-6 col-sm-6 col-lg-3">
  						<div class="member-details">
  							<div class="porfile-pic">
  								<img src="img/content/team-member-4.jpg" alt="">

  								<ul class="list-inline">
  									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  								</ul>
  							</div>

  							<h3><a href="#">Kate Jobs</a></h3>

  							<p class="title">Developer</p>

  							<p>Donec venenatis, turpis vel hendrerit interdum,
  								dui ligula ultricies purus, sed posuere libero dui id orci.</p>

  						</div> 
  					</div> 
          </div>   -->

				</div> <!-- end .about-us -->
			</div> <!-- end .page-content -->
		</div> <!-- end .container -->

	</div> <!-- end #page-content -->


{% endblock %}
