{% extends 'base.html' %}
{% load i18n %}
{% block content %}

      <div class="page-heading blog-list-heading">
        <span></span> <!-- for dark-overlay on the bg -->

        <div class="container">

          <h1>Blog</h1>

          <div class="heading-link">
            <a href="#">Home</a>

            <i>/</i>

            <a href="#">Blog</a>
          </div>

        </div> <!-- END .container-->
      </div> <!-- END .about-us-heading -->

    </div> <!-- END .SEARCH and slide-section -->


    <div class="header-nav-bar">
      <div class="container">
        <nav>

          <button><i class="fa fa-bars"></i></button>

          <ul class="primary-nav list-unstyled">
            <li><a href="#">Home<i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="home-map-grid.html">Home-map(grid)</a></li>
                <li><a href="home-map-list.html">Home-map(list)</a></li>
                <li><a href="index.html">Home slider(view-1)</a></li>
                <li><a href="home-category.html">Home slider(view-2)</a></li>
              </ul>

            </li>

            <li class=""><a href="#">Company<i class="fa fa-angle-down"></i></a>

              <ul>
                <li><a href="company-profile.html">Company(Profile)</a></li>
                <li><a href="company-product.html">Company(Product)</a></li>
                <li><a href="company-portfolio.html">Company(Portfolio)</a></li>
                <li><a href="company-events.html">Company(Events)</a></li>
                <li><a href="company-blog.html">Company(Blog)</a></li>
                <li><a href="company-contact.html">Company(contact)</a></li>
              </ul>

            </li>

            <li><a href="sample-page.html">Sample Page</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>

            <li class="bg-color">
              <a href="#">Blog<i class="fa fa-angle-down"></i></a>

              <ul>
                <li><a href="blog-list.html">Blog list</a></li>
                <li><a href="blog-post.html">Blog-post</a></li>
              </ul>

            </li>

            <li><a href="price-listing.html">Price Listing</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
        </nav>
      </div> <!-- end .container -->
    </div> <!-- end .header-nav-bar -->
  </header> <!-- end #header -->

  <div id="page-content">
    <div class="container">
      <div class="page-content bl-list">
        <div class="row">
          <div class="col-md-8">
            <div class="blog-list">

              <div class="post-with-image">
                <div class="date-month">
                  <a href="#">
                    <span class="date">12</span>
                    <span class="month">Sep</span>
                  </a>
                </div>

                <div class="post-image">
                  <img src="img/content/blog-list-image1.jpg" alt="">
                </div>

                <h2 class="title"><a href="blog-post.html">This is Post Title</a></h2>

                <p class="user">
                  <a href="#"><i class="fa fa-user"></i> Admin</a>
                  <a href="#"><i class="fa fa-folder-open-o"></i> Design</a>
                  <a href="#"><i class="fa fa-comments-o"></i> 2 Comments</a>
                </p>

                <p class="post">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                  suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                  Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>

                <p class="tag">
                  <i class="fa fa-tag"></i>
                  <a href="#">Good,</a>
                  <a href="#">Ui,</a>
                  <a href="#">Experience,</a>
                  <a href="#">Article</a>
                </p>

                <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

              </div> <!-- end .post-with-image -->

              <div class="post-with-image">
                <div class="date-month">
                  <a href="#">
                    <span class="date">12</span>
                    <span class="month">Sep</span>
                  </a>
                </div>

                <div class="post-image">
                  <img src="img/content/blog-list-image2.jpg" alt="">
                </div>

                <h2 class="title"><a href="#">This is Post Title</a></h2>

                <p class="user">
                  <a href="#"><i class="fa fa-user"></i> Admin</a>
                  <a href="#"><i class="fa fa-folder-open-o"></i> Design</a>
                  <a href="#"><i class="fa fa-comments-o"></i> 2 Comments</a>
                </p>

                <p class="post">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                  suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                  Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>

                <p class="tag">
                  <i class="fa fa-tag"></i>
                  <a href="#">Good,</a>
                  <a href="#">Ui,</a>
                  <a href="#">Experience,</a>
                  <a href="#">Article</a>
                </p>

                <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

              </div> <!-- end .post-with-image -->

              <div class="post-without-image">
                <div class="date-month">
                  <a href="#">
                    <span class="date">12</span>
                    <span class="month">Sep</span>
                  </a>
                </div>

                <h2 class="title"><a href="#">This is Post Title</a></h2>

                <p class="user">
                  <a href="#"><i class="fa fa-user"></i> Admin</a>
                  <a href="#"><i class="fa fa-folder-open-o"></i> Design</a>
                  <a href="#"><i class="fa fa-comments-o"></i> 2 Comments</a>
                </p>

                <p class="post">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                  suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                  Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>

                <p class="tag">
                  <i class="fa fa-tag"></i>
                  <a href="#">Good,</a>
                  <a href="#">Ui,</a>
                  <a href="#">Experience,</a>
                  <a href="#">Article</a>
                </p>

                <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

              </div> <!-- end .post-without-image -->


              <div class="post-with-image">
                <div class="date-month">
                  <a href="#">
                    <span class="date">12</span>
                    <span class="month">Sep</span>
                  </a>
                </div>

                <div class="post-image">
                  <img src="img/content/blog-list-image3.jpg" alt="">
                </div>

                <h2 class="title"><a href="#">This is Post Title</a></h2>

                <p class="user">
                  <a href="#"><i class="fa fa-user"></i> Admin</a>
                  <a href="#"><i class="fa fa-folder-open-o"></i> Design</a>
                  <a href="#"><i class="fa fa-comments-o"></i> 2 Comments</a>
                </p>

                <p class="post">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                  suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                  Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>

                <p class="tag">
                  <i class="fa fa-tag"></i>
                  <a href="#">Good,</a>
                  <a href="#">Ui,</a>
                  <a href="#">Experience,</a>
                  <a href="#">Article</a>
                </p>

                <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

              </div> <!-- end .post-with-image -->

              <div class="post-without-image">
                <div class="date-month">
                  <a href="#">
                    <span class="date">12</span>
                    <span class="month">Sep</span>
                  </a>
                </div>

                <h2 class="title"><a href="#">This is Post Title</a></h2>

                <p class="user">
                  <a href="#"><i class="fa fa-user"></i> Admin</a>
                  <a href="#"><i class="fa fa-folder-open-o"></i> Design</a>
                  <a href="#"><i class="fa fa-comments-o"></i> 2 Comments</a>
                </p>

                <p class="post">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
                  suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                  Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                </p>

                <p class="tag">
                  <i class="fa fa-tag"></i>
                  <a href="#">Good,</a>
                  <a href="#">Ui,</a>
                  <a href="#">Experience,</a>
                  <a href="#">Article</a>
                </p>

                <a class="post-read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

              </div> <!-- end .post-without-image -->

            </div> <!-- end .blog-list -->

            <div class="blog-list-pagination">

              <ul class="pagination">
                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>

            </div> <!-- end .blog-list-pagination -->

          </div> <!-- end .grid-layout -->

          <div class="col-md-4">
            <div class="post-sidebar">

              <div class="latest-post-content">
                <h2>Latest Posts</h2>

                <div class="latest-post clearfix">

                  <div class="post-image">
                    <img src="img/content/latest_post_1.jpg" alt="">

                    <p><span>12</span>Sep</p>
                  </div>

                  <h4><a href="#">Post Title Goes Here</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                  <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>
                </div> <!-- end .latest-post -->

                <div class="latest-post clearfix">
                  <div class="post-image">
                    <img src="img/content/latest_post_2.jpg" alt="">

                    <p><span>09</span>Sep</p>
                  </div>

                  <h4><a href="#">Post Title Goes Here</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                  <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>
                </div> <!-- end .latest-post -->
              </div> <!-- end .latest-post-content -->

              <div class="post-categories">

                <h2>Categories</h2>

                <ul>
                  <li><a href="#"><i class="fa fa-angle-right"></i>Creative</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i>Design</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i>Development</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i>Uncategorized</a></li>
                </ul>
              </div> <!-- end .post-categories -->

              <div class="square-button">
                <button><img src="img/content/square-button.png" alt=""></button>

                <button><img src="img/content/square-button.png" alt=""></button>
              </div> <!-- end .sqare-button -->

              <div class="recently-added">
                <h2>Recently Added</h2>

                <div class="single-product">
                  <figure>
                    <img src="img/content/post-img-1.jpg" alt="">

                    <div class="rating">

                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                      </ul>

                    </div> <!-- end .rating -->
                  </figure>

                  <h4><a href="#">Old Bookman's</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

                  <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                </div> <!-- end .single-product -->

                <div class="single-product">
                  <figure>
                    <img src="img/content/post-img-1.jpg" alt="">

                    <div class="rating">

                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                      </ul>

                    </div> <!-- end .rating -->
                  </figure>

                  <h4><a href="#">Old Bookman's</a></h4>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

                  <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                </div> <!-- end .single-product -->

              </div> <!-- end .recently-added -->


              <div class="archive-calendar">
                <h2>Calendar</h2>

                <div id="datepicker">

                </div>

              </div> <!-- end .archive-calendar -->


              <div class="medium-rectangle">
                <img src="img/content/medium-rectangle.jpg" alt="">
              </div> <!-- end .medium-rectangle -->

            </div> <!-- end .post-sidebar -->
          </div> <!-- end .grid-layout -->

        </div> <!-- end .row -->
      </div> <!-- end .page-content -->
    </div> <!-- end .container -->

  </div> <!-- end #page-content -->


  {% endblock %}