{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
    <div id="main-wrapper">
        <div class="slider-content">
            <div id="home-slider" class="owl-carousel owl-theme">
                {% for banners in banner|get_main_banner %}
                    {% if banners.admin_status == True %}
                        <div class="item">
                            <img src="/media/{{banners.mainbanner}}"  alt="">
                            <div class="slide-content"></div>
                        </div>
                    {% endif %}  
                {% endfor %}
            </div>
            <div class="customNavigation">
                <a class="btn prev"><i class="fa fa-angle-left"></i></a>
                <a class="btn next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div> 
        <div class="header-nav-bar">      
    </div> <!-- end .header-nav-bar -->
</header> <!-- end #header -->

<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4">
                <div class="page-content company-profile">
                    <div class="tab-content">
                        <div class="tab-pane active" id="company-profile">
                            <h2>{{events.event_title}}</h2>
                            <h5>
                              <a href="#">{{events.eventtype}}</a>
                            </h5>
                            <div class="company-text">
                                <p><strong>{{events.eventdescription}}</strong></p>
                                <p>{{events.college}},<span class="city_map">{{events.city}}</span>,{{events.state}}</p>
                                <p>Organized by {{events.department}}</p>
                            </div> <!-- end company-text -->
                        </div> <!-- tab-pane active -->
                    </div> <!-- end .tab-content -->
                </div> <!-- end .page-content -->
            </div> <!-- end .main-grid layout -->
            <div class="col-md-4 col-md-pull-8 category-toggle">
                <button><i class="fa fa-briefcase"></i></button>
                <div class="page-sidebar company-sidebar">
                    <div class="contact-details">
                        <img src="/media/{{events.poster}}" alt="">
                        <h2>Organizer Details</h2>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Name</strong>
                                <span>{{organizer.organizer_name}}</span>
                            </li>
                            <li>
                              <strong>Phone</strong>
                              <span>{{organizer.organizer_mobile}}</span>
                            </li>
                            <li>
                              <strong>E-mail</strong><span>{{organizer.organizer_email}}</span>
                            </li>
                        </ul>
                    </div><!-- end contact-details -->
                    <div class="opening-hours">
                        <h2>Important Dates</h2>
                        <ul class="list-unstyled">
                            <li>
                              <strong>Start date</strong>
                              <span>{{events.startdate}}</span>
                            </li>
                            <li>
                              <strong>End date</strong>
                              <span>{{events.enddate}}</span>
                            </li>
                        </ul>
                    </div><!--end opening-hours-->
                    <div class="square-button">
                        <a href="#"><img src="img/content/square-button.png" alt=""></a>
                        <a href="#"><img src="img/content/square-button.png" alt=""></a>
                        <a href="#"><img src="img/content/square-button.png" alt=""></a>
                        <a href="#"><img src="img/content/square-button.png" alt=""></a>
                    </div> <!-- end .sqare-button -->
                </div> <!-- end .page-sidebar -->
            </div> <!-- end .main-grid layout -->
        </div> <!-- end .row -->
    </div> <!-- end .container -->
</div> <!-- end #page-content -->
<div>
    {% for item in mylist %}
        RENDER MY CONTENT
    {% endfor %}
</div>
{% endblock %}
