{% extends 'base.html' %}
{% load i18n %}
{% block content %}

      <div class="page-heading contact-us-heading">
        <span></span> <!-- for dark-overlay on the bg -->

        <div class="container">
          <h1>Contact <span>Us</span></h1>

          <div class="heading-link">
            <a href="#">Home</a>

            <i>/</i>

            <a href="#">Contact Us</a>
          </div>

        </div> <!-- END .container-->
      </div> <!-- END .about-us-heading -->

    </div> <!-- END .SEARCH and slide-section -->


    <div class="header-nav-bar">
      <div class="container">
        <nav>

          <button><i class="fa fa-bars"></i></button>

          <ul class="primary-nav list-unstyled">
            <li><a href="#">Home<i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="home-map-grid.html">Home-map(grid)</a></li>
                <li><a href="home-map-list.html">Home-map(list)</a></li>
                <li><a href="index.html">Home slider(view-1)</a></li>
                <li><a href="home-category.html">Home slider(view-2)</a></li>
              </ul>

            </li>

            <li class=""><a href="#">Company<i class="fa fa-angle-down"></i></a>

              <ul>
                <li><a href="company-profile.html">Company(Profile)</a></li>
                <li><a href="company-product.html">Company(Product)</a></li>
                <li><a href="company-portfolio.html">Company(Portfolio)</a></li>
                <li><a href="company-events.html">Company(Events)</a></li>
                <li><a href="company-blog.html">Company(Blog)</a></li>
                <li><a href="company-contact.html">Company(contact)</a></li>
              </ul>

            </li>

            <li><a href="sample-page.html">Sample Page</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>

            <li class="">
              <a href="#">Blog<i class="fa fa-angle-down"></i></a>

              <ul>
                <li><a href="blog-list.html">Blog list</a></li>
                <li><a href="blog-post.html">Blog-post</a></li>
              </ul>

            </li>

            <li><a href="price-listing.html">Price Listing</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li class="bg-color"><a href="contact-us.html">Contact Us</a></li>
          </ul>
        </nav>
      </div> <!-- end .container -->
    </div> <!-- end .header-nav-bar -->
  </header> <!-- end #header -->

  <div id="page-content">
    <div class="container">
      <div class="page-content">
        <div class="contact-us">
          <div class="row">
            <div class="col-md-6">
              <h3><strong>Our</strong> Hq</h3>

              <div class="contacy-us-map-section">
                <div id="contact_map_canvas">

                </div>
              </div> <!-- end .map-section -->

              <div class="row">
                <div class="col-sm-6">
                  <h5>Address Details</h5>

                  <div class="address-details clearfix">
                    <i class="fa fa-map-marker"></i>

                    <p>
                      <span>1234 Hyde Street</span>
                      <span>San Francisco</span>
                      <span>CA 94043</span>
                    </p>
                  </div>

                  <div class="address-details clearfix">
                    <i class="fa fa-phone"></i>

                    <p>
                      <span><strong>Phone:</strong> +1 123-456-7890</span>
                      <span><strong>Fax:</strong> +1 123-456-7891</span>
                    </p>
                  </div>

                  <div class="address-details clearfix">
                    <i class="fa fa-envelope-o"></i>

                    <p>
                      <span><strong>E-mail:</strong> example@example.com</span>
                      <span><span><strong>Website:</strong> www.example.com</span></span>
                    </p>
                  </div>

                </div>

                <div class="col-sm-6">
                  <h5>Openig Hours</h5>

                  <div class="address-details clearfix">
                    <i class="fa fa-clock-o"></i>

                    <p>
                      <span><strong>Mo-Fri:</strong> 9AM - 5PM</span>
                      <span><span><strong>Saturday:</strong> 10AM - 2PM</span></span>
                      <span><strong>Sunday:</strong> Closed</span>
                    </p>
                  </div>

                </div>
              </div> <!-- end .nasted row -->

            </div> <!-- end main grid layout -->

            <div class="col-md-6">
              <h3><strong>Message</strong> Us</h3>

              <div class="contact-form">
                <form action="#" class="comment-form">

                  <input type="text" placeholder="Name" required>

                  <input type="email" placeholder="Email" required>

                  <input type="text" placeholder="Website">

                  <input type="text" placeholder="Subject">

                  <textarea placeholder="How Can We Help You?" required></textarea>

                  <a class="btn btn-default" href="#"><i class="fa fa-envelope-o"></i>Send Message</a>

                </form>

              </div> <!-- end .contact-form -->

            </div> <!-- end main grid layout -->
          </div> <!-- end .row -->

        </div> <!-- end .about-us -->
      </div> <!-- end .page-content -->
    </div> <!-- end .container -->

  </div> <!-- end #page-content -->


 {% endblock %}