{% extends 'base.html' %}
{% load i18n %}
{% block content %}
			<div class="page-heading about-us-heading">
				<span></span> <!-- for dark-overlay on the bg -->
				<div class="container">
					<h1>FAQS  <span></span></h1>
					<div class="heading-link">
						<a href="/">Home</a>
						<i>/</i>
						<a href="/faqs">FAQS</a>
					</div>
				</div> <!-- END .container-->
			</div> <!-- END .about-us-heading -->
		</div> <!-- END .SEARCH and slide-section -->
	</header> <!-- end #header -->

	<div id="page-content">
		<div class="container">
			<div class="page-content">
			     <div class="about-us">
                    <p><strong>1. What is Eventswat.com all about? What information does it provide about a fest?</strong></p>

                    <p>Eventswat.com is a consortium of all the college campus events in India. This includes both national and international Events. Eventswat.com is a one stop solution for accessing even minuscule of information about the events. Our aim is to connect students from campuses all over India by making them aware of Technical, Cultural, Management Fests, Workshops, Conferences, Seminars organized by each and every college in India. EVentswat.com provides details about the fests, festivals by type or festivals in a month, festivals in a state.</p>

                    <p><strong>2. How many colleges in India do you cover? </strong></p>

                    <p>Eventswat.com has tie-ups with 700 Colleges across India with 1500 Eventswat.com Student Partners. Eventswat.com has covered more than 5000 events in the past 5 years.</p>

                    <p><strong>3. Please share with us the inspiration and the story behind your start-up?</strong></p>

                    <p>On the personal front, I never had an opportunity to know about and participate in various college fests throughout the country. After an initial survey, I understood its not only me but my friends as well who had no awareness about the college festivals. In fact, I had to visit the respective college fest website to get myself updated, which was very time consuming. Finding appropriate solutions was the only inevitable thing I could do  the result was Eventswat.com . I can now proudly say that I have successfully launched Indias first and leading website for campus festivals.</p>


                    <p><strong>4. Are there any other players offering similar services?</strong></p>

                    <p>Eventswat.com is the first of its kind.</p>

                    <p><strong>5. Any significant features of your start-up we should know?</strong></p>

                    <p>Eventswat.com has many significant features et al . Email updates. Eventswat.com also provides weekly updates about the fests in the succeeding week. Eventswat.com also organizes online competitions viz. Quiz, Treasure hunt, Opinion polls. Finally, Eventswat.com homes 1500+ Campus Ambassadors from 400 colleges throughout India. </p>

                    <p><strong>6. How is your start-up doing do so far? What kind of traffic does it see?</strong></p>
                    <p>Eventswat.com is ranked No.1 website for campus festivals since last 5 years in India. Partnering with IITs, NITs and other International level Institutions and Universities has created a very special reputation among the cream technical students of India. With several thousand hits per day, Eventswat.com has got more than reasonable traffic in its field.</p>

                    <p><strong>7. Could you tell us more about yourself, your position & other key players, if any?</strong></p>
                    <p>A CEO at an younger age, Santosh Kumar Tadikonda is heading Eventswat.com. Eventswat.com is an initiative of Santrix Solutions, a web-design startup of his own. Though Eventswat.com had only one person at the time of its inception, during the growing demands of the students and ever increasing college fests, it recruited motivated students under various posts. As of today, Eventswat.com is a group of more than 1500+ students which includes student partners called KSPs and immensely driven management team.</p>
          
                  <p><strong>8. How large is the team behind your start-up? Are you all based in India?</strong></p>

                  <p>As already said, Eventswat.com is the brain child of Santosh Kumar Tadikonda. Recruiting his counter parts for the management team and various students as student partners, Team Eventswat.com is run by an able and efficient student capital of India.</p>        

                  <p><strong>9. How is your startup being funded so far? </strong></p>

                  <p>Eventswat.com is a self funded organization. More than money as means of investment, Eventswat.com has a dedicated and a devoted team.</p>

                  <p><strong>10. How Eventswat.com can help a student?</strong></p>

                  <p>If you are a student looking to attend campus festivals, you have come to the right place. Surf around and hopefully you would find something relevant and meaningful soon. You can also subscribe to Eventswat.com and have fest updates delivered to your inbox  yes, its magic! If you have any query regarding campus festivals that you would like Eventswat.com help on, visit our customer support.</p>

                  <p><strong>11. How Eventswat.com can help an event organizer or fest co-ordinator?</strong></p>

                  <p>If you are looking to bring crowd to your campus festival / tech fest / event,  Eventswat.com can help you connect with the best and the brightest students in India. Dont just take our word for it, you may read testimonials from other students who use Eventswat.com services regularly and decide for yourself. We do not charge any fee, only caveat is that event should be exciting, meaningful and relevant! :). If you would like to post an event, visit http://campus.Eventswat.com/submit-fest.html</p>

                  <p><strong>12. How Eventswat.com can help an advertiser (training/workshop/merchandise)</strong></p>

                  <p>If you are looking to advertise product whose consumers are visitors of Eventswat.com, please send a mail to eventswat.com</p>

				</div> <!-- end .about-us -->
			</div> <!-- end .page-content -->
		</div> <!-- end .container -->
	</div> <!-- end #page-content -->
{% endblock %}
