{% load static from staticfiles %}
{% block content %}
<div class="popup_fade" style="{% if request.REQUEST.lst or request.REQUEST.lst and request.path == '/post_event' or  request.REQUEST.lst and request.path == '/upload_banner' %} display:block; {%else%} display: none; {% endif %}"></div>
 <div class="signup_popup popup_pos" id="signin_popup" style="{% if request.REQUEST.lst or  request.REQUEST.lst and request.path == '/post_event' or  request.REQUEST.lst and request.path == '/upload_banner' %} display:block; {%else%} display: none; {% endif %}">    
<!-- <div class="signup_popup popup_pos" id="signin_popup" style="{% if request.REQUEST.lst %} display:block; {%else%} display: none; {% endif %}"> -->
	<div class="voucher_popup">
		<div class="fr">
                <span class="close_btn"></span>
  		</div><!--fr-->
		<div class="col-md-3 block1">
					<div class="col-md-12 img1">	
						<img src="{% static "img/symposium.png" %}" alt="symposium" height="72px" width="72px"><br>
						<span class="text1">Symposium</span>
					</div><!--img1-->
					<div class="col-md-12 img2">
						<img src="{% static "img/seminar.png" %}" alt="seminar" height="72px" width="72px"><br>
						<span class="text2">Seminar</span>
					</div><!--img2-->
					<div class="col-md-12 img3">
						<img src="{% static "img/culturals.png" %}" alt="cultural" height="72px" width="72px"><br>
						<span class="text3">Cultural</span>
					</div><!--img3-->
		</div><!--block1-->
			
			<div class="col-md-9 block2">
					<span class="text4">Sign in with your account</span>
                    <span class="error" style="{% if request.REQUEST.lst %} display:block; {%else%} display: none; {% endif %}">{%for message in messages%}{{message}}{% endfor %}</span>	
                    <!-- <span>{{ request.get_full_path }}</span>		 -->
					<!-- <form method="post" id="login_val" action="/login/" name="sign_in" class="form-horizontal" role="form"> -->
                    <form method="post" id="login_val" action="/login/" name="sign_in" class="form-horizontal" role="form">
                    {% csrf_token %} 
					    <div class="form-group">
						 	<input id="emailid_signin" class="contactus" type="text" placeholder="ENTER YOUR EMAIL" maxlength="50" value="" name="username" autocomplete="off">
    						<span class="error">Enter your Email</span>
                            <span class="error">Enter Valid Email</span>
                            <span class="email_exists_error">Email does not exists</span>
						</div><!--form-group-->
						<div class="form-group">
							<input id="password_signin" class="contactus" type="password" placeholder="ENTER YOUR PASSWORD" maxlength="50" value="" name="password">
    						<span class="error">Enter your Password</span>
    						<span class="error_pwd">Invalid Password</span>
						</div><!--form-group-->
						<div class="form-group">        
								<label class="control-label text7">FORGET YOUR PASSWORD?</label>						      
						</div><!--form-group-->
						<div class="form-group"> 
                              <input type="hidden" value="{{ request.get_full_path }}" name="next"/>  
  						      <a id="sign_in" class="button1" href="#">Sign in</a>
  						      <!-- <a class="button2" href="#"><i class="fa fa-facebook fb"> </i>Sign in with Facebook</a> -->
  						      <a class="button2" href="#"><i class="fa fa-facebook fb"> </i>Sign in with Facebook</a>
  						      <a class="button3" href="#"><i class="fa fa-google google"> </i>Sign in with Google</a>
						</div><!--form-group-->
					   	<div class="form-group">        
								<label class="control-label col-md-8 text8">Don't have a account?<button type="button" class="btn btn-link signup"><mark>Sign up with email</mark></button></label>						      
						</div><!--form-group-->
					</form>
				</div><!--block2-->				
			<div class="clear_both"> </div>
	</div><!--voucher_popup-->
 </div><!--signup_popup-->
 
<div class="signup_popup popup_pos" id="signin_popup">     
<div class="email">
		<div class="fr">
                <span class="close_btn"></span>
  		</div><!--fr-->
		<div class="col-md-3 block3">
					<div class="col-md-12 img4">	
						<img src="{% static "img/symposium.png" %}" alt="symposium" height="72px" width="72px"><br>
						<span class="text1">Symposium</span>
					</div><!--img1-->
					<div class="col-md-12 img5">
						<img src="{% static "img/seminar.png" %}" alt="seminar" height="72px" width="72px"><br>
						<span class="text2">Seminar</span>
					</div><!--img2-->
					<div class="col-md-12 img6">
						<img src="{% static "img/culturals.png" %}" alt="cultural" height="72px" width="72px"><br>
						<span class="text3">Cultural</span>
					</div><!--img3-->
		</div><!--block1-->
			
			<div class="col-md-9 block2">
					<span class="text4">Sign up for free</span>			
					<form class="form-horizontal" role="form">
					    <div class="form-group">
						 	<input id="contactus_signup" type="text" placeholder="ENTER YOUR NAME" maxlength="50" value="" name="email"><br>
    						<span class="error"></span>
						</div><!--form-group-->
						<div class="form-group">
							<input id="contactus_signup" type="text" placeholder="ENTER YOUR EMAIL" maxlength="50" value="" name="pwd"><br>
    						<span class="error"></span>
						</div><!--form-group-->
						<div class="form-group">
							<input id="contactus_signup" type="text" placeholder="ENTER YOUR PHONE" maxlength="50" value="" name="pwd"><br>
    						<span class="error"></span>
						</div><!--form-group-->
						<div class="form-group">
							<input id="contactus_signup" type="text" placeholder="ENTER YOUR PASSWORD" maxlength="50" value="" name="pwd"><br>
    						<span class="error"></span>
						</div><!--form-group-->
						<div class="form-group">
							<input id="contactus_signup" type="text" placeholder="ENTER YOUR CONFIRM PASSWORD" maxlength="50" value="" name="pwd"><br>
    						<span class="error"></span>
						</div><!--form-group-->
						<div class="form-group">        
  						      <a class="button1" href="#">Sign up</a>
  						      <a class="button2" href="#"><i class="fa fa-facebook fb"> </i>Sign up with Facebook</a>
  						      <a class="button3" href="#"><i class="fa fa-google google"> </i>Sign up with Google</a>
						</div><!--form-group-->
					   	<div class="form-group">        
								<label class="control-label col-md-8 text8">Already have an account?<button type="button" class="btn btn-link signin"><mark>Sign in here</mark></button></label>						      
						</div><!--form-group-->
					</form>
				</div><!--block2-->				
			<div class="clear_both"> </div>
	</div><!--email-->

 </div><!--signup_popup-->

{% endblock %}