{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %} 
{% block content %}

      
      <div class="page-heading contact-us-heading">
        <span></span> <!-- for dark-overlay on the bg -->

        <div class="container">
          <h1>Post <span>Event</span></h1>

          <div class="heading-link">
            <a href="#">Home</a>

            <i>/</i>

            <a href="#">Post Event</a>
          </div>

        </div> <!-- END .container-->
      </div> <!-- END .about-us-heading -->

    </div> <!-- END .SEARCH and slide-section -->


    
  </header> <!-- end #header -->

  <div id="page-content">
    <div class="container">
      <div class="page-content">
        <div class="contact-us">
          <div class="row">

            <div class="col-md-12">
            {% if message%}

            <script type="text/javascript">
           window.onload = function(){ window.location="http://localhost:8000/post_event"; }
             </script>
             </window.onload>
                </script>
            <h4 class="text-center">{{message}}</h4>
            {%endif%}


              <h3>Submit your event</h3>
              <div class="contact-form">
                <form action="{%url "college_event.views.submit_event" %}" name="postevent" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                  <div class="events">Events</div>
                  <div class="events_fields">
                  <input type="text" placeholder="Fest name" name="festname" id="festname_required">
                   <label for="festname_required" class="labelError" style="display:none;color:red;">Please enter Fest name</label>

                   <input type="text" placeholder="Fest Caption" name="festcaption" id="festcaption_val">
                   <label for="festcaption_val" class="labelError" style="display:none;color:red;">Please enter Fest caption</label>

                      <select id="festtype_required" name="festtype" class="festtype_required">
                        <option selected="selected" value="Fest type">Fest type</option>
                        <option value="technical">Technical</option>
                        <option value="cultural">Cultural</option>
                        <option value="management">Management</option>
                        <option value="sports">Sports</option>
                        <option value="literary">Literary</option>
                        <option value="conferences">Conferences</option>
                        <option value="seminar">Seminar</option>
                        <option value="workshop">Workshop</option>
                        <option value="symposium">Symposium</option>
                        <option value="youthsummit">Youth Summit</option>
                        <option value="modelunitednations">Model United Nations</option>
                        <option value="tedx">TEDx</option>
                        <option value="summit">Summit</option>
                        <option value="culture">Culture</option>
                        <option value="conclave">Conclave</option>
                        <option value="convention">Convention</option>
                        <option value="entrepreneurshipsummit">Entrepreneurship Summit</option>
                        <option value="medical">Medical</option>
                        <option value="pharma">Pharma</option>
                        <option value="biomedical">Bio Medical</option>
                        <option value="OnlineEvents">Online Events</option>                   
                      </select>
                      <label id="festtype_required" class="drop_labelError" style="font-size:15px;color:red;display:none;">Please Choose festtype</label>
                   

                      <input  type="text" placeholder="startdate"  id="datepicker" name="startdate" />
                      <!-- <label for="start_date" class="labelError" style="display:none;color:red;">Please enter Start Date</label> -->

                      <input  type="text" placeholder="enddate"  id="datepicker1" name="enddate" />
                      <!-- <label for="end_date" class="labelError" style="display:none;color:red;">Please enter End Date</label> -->

                      <input type="text" placeholder="Dealines for Registration yyyy-mm-dd"  id="datepicker_deadline" name="deadline"></input>
                      <!-- <label for="date_deadline" class="labelError" style="display:none;color:red;">Please enter Deadline for registration</label> -->
              </div>
              <div class="events_details">Events Details</div>
              <div class="eventdetail_fields">
                    <textarea placeholder="Fest Description" name="festdescription" id="festdes_required"></textarea>
                    <label for="festdes_required" class="labelError" style="display:none;color:red;">Please enter Fest Description</label>

                    <input placeholder="Registration Fees" name="registrationfees" id="regfees_required"></input>
                    <label for="regfees_required" class="labelError" style="display:none;color:red;">Please enter Registration fees</label>

                      <input type="text" placeholder="Fest Registration URL" name="festurl" id="festurl_required">
                      <label for="festurl_required" class="labelError" style="display:none;color:red;">Please enter Fest URL</label>

                      <input type='file' id='poster' class="poster" name='poster[]' multiple='multiple'/>

                      <textarea placeholder="How to reach college/venue" name="reach" id="reach_required"></textarea>
                      <label for="reach_required" class="labelError" style="display:none;color:red;">Please enter College Venue</label>

                      <textarea placeholder="Contact person details" name="queries" id="queries_required"></textarea>
                      <label for="queries_required" class="labelError" style="display:none;color:red;">Please enter Contact Person details</label>

                      <select class="city" name="city" id="city_required" class="city_required">
                         <option selected="selected" value="Select City"> Select City</option>         
                      
                         {% for cities in city|get_city %}
                              <option value="{{cities.id}}" id="ajax_cityid">{{ cities }} </option>
                          {% endfor%} 
                      </select>
                      <label id="city_required" class="drop_labelError1" style="font-size:15px;color:red;display:none;">Please Choose City</label>
                      
                      <input type="text" placeholder="State" name="state" id="state_required">
                      <label for="state_required" class="labelError" style="display:none;color:red;">Please enter State</label> 
              </div>
              <div class="user_details">User Details</div>
              <div class="user_fields">
                <input type="text" placeholder="Name" name=
                  "name" value="{{ request.user }}"required>

                  <input type="email" placeholder="Email" name="email" value="{{ request.user.email }}" required>
                  
                  <input type="text" placeholder="Phone number" name="mobile" id="mobile_required">
              </div>
              <!-- <a class="btn btn-default" href="#" id="post_event"><i class="fa fa-envelope-o"></i>Submit Event</a> -->










                      <!--  <input type="text" placeholder="Fest name" name="festname">
                   <input type="text" placeholder="Fest Caption" name="festcaption">
                    <select name="festtype">
                        <option value="">Fest type</option>
                         {% for subcategory in subcategory %}
                              <option value="{{subcategory.id}}">{{ subcategory.name }} </option>
                          {% endfor%} 
                                           
                      </select>                      

                      <input  type="text" placeholder="startdate"  id="datepicker" name="startdate" />
                      <input  type="text" placeholder="enddate"  id="datepicker1" name="enddate" />
                      
                      <input placeholder="Dealines for Registration yyyy-mm-dd"  id="datepicker_deadline" name="deadline"></input>
              </div>
              <div class="events_details">Events Details</div>
              <div class="eventdetail_fields">
                    <textarea placeholder="Fest Description" name="festdescription"></textarea>
                    <input placeholder="Registration Fees" name="registrationfees"></input>
                      <input type="text" placeholder="Fest Registration URL" name="festurl">
                      <input type='file' id='poster' class="poster" name='poster[]' multiple='multiple'/>
                      <textarea placeholder="How to reach college/venue" name="reach"></textarea>

                      <textarea placeholder="Contact person details" name="queries"></textarea>
                      <select class="city" name="city">
                                  
                         <option  id="currentid" value="{{request.COOKIES.global_city_id}}">{{ request.COOKIES.city }}</option>
                         {% for cities in city|get_city %}
                              <option value="{{cities.id}}" id="ajax_cityid">{{ cities }} </option>
                          {% endfor%} 
                      </select>
                      
                      <input type="text" placeholder="State" name="state"> 
              </div>
              <div class="user_details">User Details</div>
              <div class="user_fields">
                 <input type="text" placeholder="Name" name=
                  "name" value="{{ request.user }}"required>

                  <input type="email" placeholder="Email" name="email" value="{{ request.user.email }}" required>
                  
                  <input type="text" placeholder="Phone number" name="mobile">
              </div> -->

              <div class="row">

            <div class="col-md-6 col-sm-6 col-lg-3">
              <div class="pricing-table">
                <h3><strong>Free</strong>User</h3>

                <div class="price">
                 <span>
                                  {% for premiums in premium %}
                                  
                                  {% if premiums.purpose == "free" %}
                                  $ {{ premiums.premium_price|floatformat }}
                                  {% endif %}
                                 {% endfor %}
                              </span>
                </div>

                <ul class="feature">
                  <li><i class="fa fa-check-circle-o"></i> post 10 adds free</li>
                  <li><i class="fa fa-check-circle-o"></i> adds dispaly in 1 month</li>
                  <li><i class="fa fa-check-circle-o"></i> Free poster display after the paid poster</li>
                  <li><i class="fa fa-check-circle-o"></i> Sending SMS and mail</li>
                 
                </ul>
                <!-- <input type="submit" class="btn btn-default post_event" data-user="freeuser" value="Free User"> -->
                 <a class="btn btn-default post_event" href="#" data-user="freeuser"><i class="fa fa-envelope-o"></i>Free User</a>
                
              </div> <!-- end .pricing-table -->

            </div> <!-- end grid-layout -->
            <div class="col-md-6 col-sm-6 col-lg-3">
              <div class="pricing-table">
                <h3><strong>Paid</strong>User</h3>

                <div class="price">
                   <span>
                                  {% for premiums in premium %}
                                  
                                  {% if premiums.purpose == 'paid' %}
                                  $ {{ premiums.premium_price|floatformat }}
                                  {% endif %}
                                 {% endfor %}
                                 <input type="hidden" name="price" value="{{ premiums.premium_price|floatformat }}" >
                              </span>
                </div>

                <ul class="feature">
                  <li><i class="fa fa-check-circle-o"></i> Display for 1 month</li>
                  <li><i class="fa fa-check-circle-o"></i> Notifications are send by mail and Sms</li>
                  <li><i class="fa fa-check-circle-o"></i> Display the poster in which page you want</li>
                  <!-- <li><i class="fa fa-check-circle-o"></i> Loren ipsum dolor sit amet</li>
                  <li><i class="fa fa-check-circle-o"></i> Loren ipsum dolor sit amet</li> -->
                </ul>
                <a class="btn btn-default post_event" id="paid" href="#" data-user="paiduser"><i class="fa fa-envelope-o"></i>Paid User</a>
                
                <input type="hidden" name="userstatus" value="" id="paid" >
                
              </div> <!-- end .pricing-table -->
 
            </div> <!-- end grid-layout -->

            </div>
               
             
             
           </form>
           <div class="payment">
            <form method="post" action="{% url 'payu.views.paid_user' %}" name="payment_form">
    {% csrf_token %}
                                <div class="col-md-8">
                                    <h5><strong>PayU Money</strong></h5>
                                    <!-- <h5>Amount Payable : <i class="fa fa-rupee"></i> {{request.COOKIES.uploadbanner_price}}</h5> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="initial" class="prefix_required">
                                                <option selected="selected" value="Select">Select</option>
                                                <option value="mr">Mr</option>
                                                <option value="mr">Mrs</option>
                                                <option value="mr">Miss</option>
                                            </select>
                                            <label id="festtype_required" class="prefix_labelError" style="font-size:15px;color:red;display:none;">Select this field</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input id="fname_required" class="form-control fname" type="text" name="fname">
                                            <label for="fname_required" class="pay_labelError" style="display:none;color:red;">Please enter First name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Lastname</label>
                                            <input id="lname_required" class="form-control lname" type="text" name="lname" />
                                            <label for="lname_required" class="pay_labelError" style="display:none;color:red;">Please enter Last name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input id="mobileno_val"class="form-control mobileno" type="text" name="pnumber" />
                                            <label for="mobileno_val" class="pay_labelError" style="display:none;color:red;">Please enter Mobile number</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input id="email_blank" class="form-control email" type="text" name="email" />
                                            <label for="email_blank" class="pay_labelError" style="display:none;color:red;">Please Email</label>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-default" id ="paynow" type="submit">Make payment</button>
                                    <p class="margintop5">By Clicking on Make payment, you agree to all the <a href="#">Terms and Conditions</a></p>
                            </form>
</div>
           </div>
           </div>
           </div>
           </div>
           </div>
           </div>
           </div>




 {% endblock %}