{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %} 
{% block content %}

      
      <div class="page-heading contact-us-heading">
        <span></span> <!-- for dark-overlay on the bg -->

        <div class="container">
          <h1>Post <span>Event</span></h1>

          <div class="heading-link">
            <a href="/">Home</a>

            <i>/</i>

            <a href="/post_event">Post Event</a>
          </div>

        </div> <!-- END .container-->
      </div> <!-- END .about-us-heading -->




    
  </header> <!-- end #header -->


<div class="container">
  <!--STEPS FORM START ------------ -->
        <div class="stepsForm">
            <form action="{%url "college_event.views.submit_event_v2" %}" name="postevent" enctype="multipart/form-data" method="POST">{% csrf_token %}
                <div class="sf-steps">
                    <div class="sf-steps-content">
                      <div>
                          <span>1</span> Profile
                        </div>
                        <div>
                          <span>2</span> Account
                        </div>
                        <div>
                          <span>3</span> Extras
                        </div>
                    </div>
                </div>                
                <div class="sf-steps-form sf-radius"> 
                    
                    <ul class="sf-content"> <!-- form step one --> 
                         <li>
                            <div class="sf_columns column_3">

                            <input type="text" placeholder="Event Title" name="eventtitle" id="eventtitle" class="eventtitle" value="{% if request.COOKIES.eventtitle %}{{request.COOKIES.eventtitle}}{% else %}{% endif %}" autocomplete="off"  data-required="true">
                            <label for="festcaption_val" class="eventtitle_error" style="display:none;color:red;">Please enter Event Title</label>

                             <label class="sf-select margintop_2rem">

                                    {% if request.COOKIES.category %}
                                    <input type="text" placeholder="{{request.COOKIES.category_name}}" id="category_name" class="category_name" value="{{request.COOKIES.category_name}}">
                                    <span  class="mandatory" style="color:red;">*</span>
                                    <input type="hidden" name="category" id="category_id" class="category_id" value="{{request.COOKIES.category}}">
                                   
                                    {% else %}
                                    <select class="category select_option select_category" name="category">
                                      <option value="">Event Category</option>
                                      {% for categories in category %}
                                        <option value="{{categories.id}}">{{ categories.name }} </option>
                                      {% endfor%}                    
                                    </select>
                                    <span></span>
                                  {% endif %}
                                </label>

                                <label class="sf-select margintop_2rem">
                                    {% if request.COOKIES.eventtype %}
                                      <input type="text" placeholder="{{request.COOKIES.eventtype_name}}" id="eventtype" class="eventtype_name" value="{{request.COOKIES.eventtype_name}}">
                                      <span  class="mandatory" style="color:red;">*</span>
                                      <input type="hidden" name="eventtype" id="eventtype" class="eventtype_id" value="{{request.COOKIES.eventtype}}">
                                    {% else %}
                                      <select class="eventtype select_subcategory" name="eventtype" data-placeholder="Event Subcategory">
                                        <option value="">Event Subcategory</option>                   
                                      </select>
                                     <span></span>
                                    {% endif %}
                                </label>
                                
                            </div>



                            <div class="sf_columns column_3">
                            <textarea placeholder="Event Description" name="eventdescription" class="eventdescription" value="" data-required="true"></textarea>
                               
                            </div>
                         </li>
                         <li>
                            <div class="sf_columns column_3">
                                 <input  type="text" placeholder="Startdate"  id="dpd1" name="startdate" value="{% if request.COOKIES.startdate %}{{request.COOKIES.startdate}}{% else %}{% endif %}" class="startdate" />
                            </div>
                            <div class="sf_columns column_3">
                                <input  type="text" placeholder="Enddate"  id="dpd2" name="enddate" class="enddate" value="{% if request.COOKIES.enddate %}{{request.COOKIES.enddate}}{% else %}{% endif %}"   autocomplete="off" />
                            </div>
                         </li>
                         
                         
                    </ul>
                       
                    <ul class="sf-content"> <!-- form step two --> 
                         <li>
                            <div class="sf_columns column_3">
                                <textarea placeholder="Address" name="address" class="address" value=""></textarea>
                            </div>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Organizer name" name="organizer_name" id="organizer_name" class="organizer_name margintop_2rem" value="">
                                
                                <input type="text" placeholder="Organizer E-mail" name="organizer_email" id="organizer_email" class="organizer_name margintop_2rem" value="">
                                
                                <input type="text" placeholder="Organizer mobile" name="organizer_mobile" id="organizer_mobile" class="organizer_mobile margintop_2rem" value="">
                            </div>
                         </li>
                         <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="State" name="state" id="state" class="state ui-autocomplete-input" value="">
                                <input type="hidden" name="state" id="statetxt" class="state" value="">
                            </div>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="City" id="city" class="city ui-autocomplete-input" value="" name="city">
                                <input type="hidden" name="city" id="citytxt" class="city" value="">
                                <input type="hidden" id="cityid" class="city" value="">
                            </div>
                         </li>

                         <li>
                            <div class="sf_columns column_3">
                               <input type="text" placeholder="College" id="college" class="college ui-autocomplete-input" value="" name="college">
                                <input type="hidden" name="college" id="collegetxt" class="college" value="">
                                <input type="hidden"  id="collegeid" class="college" value="">
                            </div>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Department" id="dept" class="dept ui-autocomplete-input" value="" name="dept">
                                <input type="hidden" name="dept" id="depttxt" class="dept" value="">
                                <input type="hidden" id="deptid" class="dept" value="">
                            </div>
                         </li>

                         
                    </ul>
    
                    <ul class="sf-content"> <!-- form step tree --> 
                         <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Name" name="name" value="
                                {% if request.user == 'AnonymousUser' %}
                                Guest
                                {% else %}
                                {{request.user}}
                                {% endif %}" class="name" readonly>
                            </div>
                            <div class="sf_columns column_3">
                                <input type="email" placeholder="Email" name="email" value="{{ request.user.email }}" class="email" {% if user.is_authenticated %}readonly{% endif %}>
                            </div>
                         </li>

                          <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Phone number" name="mobile" class="mobile"  value="">
                            </div>
                            <div class="sf_columns column_3">
                                <input type='file' id='' class="poster" name='poster[]' multiple='multiple'/>
                            </div>
                         </li>

                         
                         
                    </ul>
                </div>
                
                <div class="sf-steps-navigation sf-align-right">
                  <span id="sf-msg" class="sf-msg-error"></span>
                  <button id="sf-prev" type="button" class="sf-button">Previous</button>
                    <button id="sf-next" type="button" class="sf-button">Next</button>
                </div>
            </form>
        </div>
        <!--STEPS FORM END -------------- -->
</div><!-- container -->

 {% endblock %}