{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %} 
{% block content %}
    </header> <!-- end #header -->
    <div class="container">
        <div class="stepsForm">
            <script type="text/javascript">
                var nav = $('.header-search-bar');
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 430) {
                        nav.addClass("sticky");
                    } else {
                        nav.removeClass("sticky");
                        $( ".keywords input, .select-location input " ).blur();
                    }
                });      
            </script>
            {% if message%}
                <script type="text/javascript">
                    window.onload = function(){ window.location="http://{{request.META.HTTP_HOST}}/post_event"; }
                </script>
                <h4 class="text-center">{{message}}</h4>
            {%endif%}
            <form action="{%url "college_event.views.submit_event_v2" %}" name="postevent" enctype="multipart/form-data" method="POST" >{% csrf_token %}
                <div class="sf-steps">
                    <div class="sf-steps-content">
                        <div>
                            <span>1</span> Event details
                        </div>
                        <div>
                            <span>2</span> Event location
                        </div>
                        <div>
                            <span>3</span> User details
                        </div>
                    </div>
                </div>                
                <div class="sf-steps-form sf-radius"> 
                    <ul class="sf-content"> <!-- form step one --> 
                        <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Event Title" name="eventtitle" id="eventtitle" class="eventtitle" value="{% if request.COOKIES.eventtitle %}{{request.COOKIES.eventtitle}}{% else %}{% endif %}" autocomplete="off"  data-required="true">
                                <label for="festcaption_val" class="eventtitle_error" style="display:none;color:red;">Please enter Event Title</label>
                                <label class="sf-select margintop_2rem">
                                    {% if request.COOKIES.category %}
                                        <input type="text" placeholder="{{request.COOKIES.category_name}}" id="category_name" class="category_name" value="{{request.COOKIES.category_name}}">
                                        <input type="hidden" name="category" id="category_id" class="category_id" value="{{request.COOKIES.category}}">
                                    {% else %}
                                        <select class="category select_option select_category" name="category" data-required="true">
                                            <option value="">Event Category</option>
                                            {% for categories in category %}
                                                <option value="{{categories.id}}">{{ categories.name }} </option>
                                            {% endfor%}                    
                                        </select>
                                        <span></span>
                                    {% endif %}
                                </label>
                                <label class="sf-select margintop_2rem">
                                    {% if request.COOKIES.eventtype %}
                                        <input type="text" placeholder="{{request.COOKIES.eventtype_name}}" id="eventtype" class="eventtype_name" value="{{request.COOKIES.eventtype_name}}">
                                        <input type="hidden" name="eventtype" id="eventtype" class="eventtype_id" value="{{request.COOKIES.eventtype}}">
                                    {% else %}
                                        <select class="eventtype select_subcategory" name="eventtype" data-placeholder="Event Subcategory" data-required="true">
                                            <option value="">Event Subcategory</option>
                                        </select>
                                        <span></span>
                                    {% endif %}
                                </label>   
                            </div>
                            <div class="sf_columns column_3">
                                <textarea placeholder="Event Description" name="eventdescription" class="eventdescription" value="" data-required="true"></textarea>
                                   
                            </div>
                        </li>
                        <li>
                            <div class="sf_columns column_3">
                                <input  type="text" placeholder="Startdate"  id="dpd1" name="startdate" value="{% if request.COOKIES.startdate %}{{request.COOKIES.startdate}}{% else %}{% endif %}" class="startdate" autocomplete="off" data-required="true"/>
                            </div>
                            <div class="sf_columns column_3">
                                <input  type="text" placeholder="Enddate"  id="dpd2" name="enddate" class="enddate" value="{% if request.COOKIES.enddate %}{{request.COOKIES.enddate}}{% else %}{% endif %}"   autocomplete="off" data-required="true"/>
                            </div>
                        </li>
<!--                         <li>
                            <div class="sf_columns column_6 price-listing">
                                <div class="row plan_table_act " id="plan_change" style="{% if request.COOKIES.plan %} display:none;{% else %}{%endif%}">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="pricing-table">
                                            <h3><strong>Free</strong> User</h3>
                                            <div class="price">
                                                <span class="free">
                                                    {% for premiums in premium %}
                                                        {% if premiums.purpose == "free" %}
                                                            INR {{ premiums.premium_price|floatformat }}
                                                            <input type="hidden" name="free" value="{{ premiums.premium_price|floatformat }}">
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </div> 
                                            <ul class="feature">
                                                <li><i class="fa fa-check-circle-o"></i> post 10 adds free</li>
                                                <li><i class="fa fa-check-circle-o"></i> adds dispaly in 1 month</li>
                                                <li><i class="fa fa-check-circle-o"></i> Free poster display after the paid poster</li>
                                                <li><i class="fa fa-check-circle-o"></i> Sending SMS and mail</li>
                                            </ul>
                                            <a class="btn btn-default free" href="#" data-user="freeuser"><i class="fa fa-envelope-o"></i>Free User</a>
                                        </div> 
                                    </div><!- end grid-layout ->
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="pricing-table">
                                            <h3><strong>Paid</strong> User</h3>
                                            <div class="price">
                                                <span class="paid">
                                                    {% for premiums in premium %}
                                                        {% if premiums.purpose == 'paid' %}
                                                            INR {{ premiums.premium_price|floatformat }}
                                                            <input type="hidden" name="paid" value="{{ premiums.premium_price|floatformat }}" >
                                                        {% endif %}
                                                    {% endfor %}    
                                                </span>
                                            </div>
                                            <ul class="feature">
                                                <li><i class="fa fa-check-circle-o"></i> Display for 1 month</li>
                                                <li><i class="fa fa-check-circle-o"></i> Notifications are send by mail and Sms</li>
                                                <li><i class="fa fa-check-circle-o"></i> Display the poster in which page you want</li>
                                            </ul>
                                            {% if user.is_authenticated %}
                                                <a class="btn btn-default paid"  data-user="paiduser"><i class="fa fa-envelope-o"></i>Paid User</a> 
                                            {% else %}
                                                <a class="btn btn-default login_act"  data-user="paiduser"><i class="fa fa-envelope-o"></i>Paid User</a> 
                                            {% endif %}
                                        </div>
                                    </div> <!- end grid-layout ->
                                </div>
                                <label class="plan_error col-md-12 text-center" style="display:none;color:red;">Please Choose Plan</label>
                                <input type="hidden" value="{% if request.COOKIES.plan %}{{request.COOKIES.plan}}{% else %}{% endif %}" name="plan" data-required="true">
                            </div>
                        </li>   -->        
                    </ul>
                    <ul class="sf-content"> <!-- form step two --> 
                        <li>
                            <div class="sf_columns column_3">
                                <textarea placeholder="Address" name="address" class="address" value="" data-required="true"></textarea>
                            </div>
                            <div class="number sf_columns column_3">
                                <input type="text" placeholder="Organizer name" name="organizer_name" id="organizer_name" class="organizer_name" value="" data-required="true">
                                <input type="email" placeholder="Organizer E-mail" name="organizer_email" id="organizer_email" class="organizer_name margintop_2rem" value="" data-email="true" data-required="true">
                                <input type="text" placeholder="Organizer mobile" name="organizer_mobile"  id="organizer_mobile" class="organizer_mobile margintop_2rem" value="" data-number="true" data-required="true" > 
                              	<img src="media{% static "img/plus.png" %}" alt="plus" class="plus" "33px" width="22px">
                              	<button type="button" class="btn btn-default edit">Edit</button>
                              	</div> 
                        </li>
                         	<div class="addnum">
                         		<div class="block">	
						 				<img src="media{% static "img/plus.png" %}" alt="plus" class="btn_plus1" "33px" width="22px">
    										<div>
    											<input type="text" placeholder="Organizer mobile" name="organizer_mobile" id="mobile" class="organizermobile" data-number="true" value="" >
											</div>
										<button type="button" class="btn btn-default confirm">OK</button>
			 					</div>
					 		</div>
						<li>

                            <div class="sf_columns column_3">
                                <input type="text" placeholder="State" name="state" id="state" class="state ui-autocomplete-input" value="" data-required="true">
                                <input type="hidden" name="state" id="statetxt" class="state" value="">
                            </div>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="City" id="city" class="city ui-autocomplete-input" value="" name="city" data-required="true">
                                <input type="hidden" name="city" id="citytxt" class="city" value="">
                                <input type="hidden" id="cityid" class="city" value="">
                            </div>
                        </li>
                        <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="College" id="college" class="college ui-autocomplete-input" value="" name="college" data-required="true">
                                <input type="hidden" name="college" id="collegetxt" class="college" value="" >
                                <input type="hidden"  id="collegeid" class="college" value="" >
                            </div>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Department" id="dept" class="dept ui-autocomplete-input" value="" name="dept" data-required="true">
                                <input type="hidden" name="dept" id="depttxt" class="dept" value="">
                                <input type="hidden" id="deptid" class="dept" value="">
                            </div>
                        </li>
                    </ul>
                    <ul class="sf-content"> <!-- form step tree --> 
                        <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Name" name="name" value="{{request.user}}" class="name" readonly>
                            </div>
                            <div class="sf_columns column_3">
                                <input type="email" placeholder="Email" name="email" value="{{ request.user.email }}" class="email" {% if user.is_authenticated %}readonly{% endif %} >
                            </div>
                        </li>
                        <li>
                            <div class="sf_columns column_3">
                                <input type="text" placeholder="Phone number" name="mobile" class="mobile"  value="" data-number="true" >
                            </div>
                            <div class="sf_columns column_3">
                                <input type='file' id='' class="poster" name='poster[]' multiple='multiple' />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sf-steps-navigation sf-align-right">
                  <span id="sf-msg" class="sf-msg-error"></span>
                  <button id="sf-prev" type="button" class="sf-button">Previous</button>
                    <button id="sf-next" type="button" class="sf-button">Next</button>
                    <button id="postevent" type="submit" class="sf-button" style="display:none">Submit</button>
                </div>
            </form>
        </div><!--STEPS FORM END  -->
    </div><!-- container -->
{% endblock %}