{% extends 'base.html' %}
{% load i18n %}
{% block content %}

      <div class="sample-page-heading">
        <span></span> <!-- for dark-overlay on the bg -->

        <div class="container">

          <h1>Sample <span>Page</span></h1>

        </div> <!-- END .container-->
      </div> <!-- END .about-us-heading -->

    </div> <!-- END .SEARCH and slide-section -->


    <div class="header-nav-bar">
      <div class="container">
        <nav>

          <button><i class="fa fa-bars"></i></button>

          <ul class="primary-nav list-unstyled">
            <li><a href="#">Home<i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="home-map-grid.html">Home-map(grid)</a></li>
                <li><a href="home-map-list.html">Home-map(list)</a></li>
                <li><a href="index.html">Home slider(view-1)</a></li>
                <li><a href="home-category.html">Home slider(view-2)</a></li>
              </ul>

            </li>

            <li><a href="#">Company<i class="fa fa-angle-down"></i></a>

              <ul>
                <li><a href="company-profile.html">Company(Profile)</a></li>
                <li><a href="company-product.html">Company(Product)</a></li>
                <li><a href="company-portfolio.html">Company(Portfolio)</a></li>
                <li><a href="company-events.html">Company(Events)</a></li>
                <li><a href="company-blog.html">Company(Blog)</a></li>
                <li><a href="company-contact.html">Company(contact)</a></li>
              </ul>

            </li>

            <li class="bg-color"><a href="sample-page.html">Sample Page</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>

            <li>
              <a href="#">Blog<i class="fa fa-angle-down"></i></a>

              <ul>
                <li><a href="blog-list.html">Blog list</a></li>
                <li><a href="blog-post.html">Blog-post</a></li>
              </ul>

            </li>

            <li><a href="price-listing.html">Price Listing</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
        </nav>
      </div> <!-- end .container -->
    </div> <!-- end .header-nav-bar -->
  </header> <!-- end #header -->

  <div id="page-content">
    <div class="container">
      <div class="page-content">
        <div class="sample-page">
          <div class="row">
            <div class="col-md-8">
              <h3>This Is Sample Page</h3>

              <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
                Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.
                Quisque semper justo at risus.</strong>
              </p>

              <p>Donec venenatis, turpis vel hendrerit interdum,
                dui ligula ultricies purus, sed posuere libero dui id orci.
                Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu,
                vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis.
                Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat,
                purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue.
                Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
              </p>

              <div class="post-image">
                <img src="img/content/post-image.jpg" alt="">
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
                scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis,
                turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
              </p>

              <p>Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor,
                et mollis pede metus eget nisi. Praesent sodales velit quis augue.
                Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
              </p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
                Cras vel lorem. Etiam pellentesque aliquet tellus.
                Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
                Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus,
                sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet,
                elit magna vulputate arcu, vel tempus metus leo non est.
                Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.
                Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor,
                et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit,
                urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
                scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis,
                turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
                ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi,
                in interdum massa nibh nec erat.
              </p>

            </div> <!-- end .grid-layout -->

            <div class="col-md-4">
              <div class="post-sidebar">
                <div class="featured">
                  <h2>Featured Companies</h2>

                  <div class="single-product">
                    <figure>
                      <img src="img/content/post-img-1.jpg" alt="">

                      <div class="rating">

                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>

                        <p>Featured</p>

                      </div> <!-- end .rating -->
                    </figure>

                    <h4><a href="#">Old Bookman's</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

                    <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                  </div> <!-- end .single-product -->

                  <div class="single-product">
                    <figure>
                      <img src="img/content/post-img-1.jpg" alt="">

                      <div class="rating">

                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>

                        <p>Featured</p>

                      </div> <!-- end .rating -->
                    </figure>

                    <h4><a href="#">Old Bookman's</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

                    <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                  </div> <!-- end .single-product -->
                </div> <!-- end .featured -->

                <div class="recently-added">
                  <h2>Recently Added</h2>

                  <div class="single-product">
                    <figure>
                      <img src="img/content/post-img-1.jpg" alt="">

                      <div class="rating">

                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>

                      </div> <!-- end .rating -->
                    </figure>

                    <h4><a href="#">Old Bookman's</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

                    <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                  </div> <!-- end .single-product -->

                  <div class="single-product">
                    <figure>
                      <img src="img/content/post-img-1.jpg" alt="">

                      <div class="rating">

                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>

                      </div> <!-- end .rating -->
                    </figure>

                    <h4><a href="#">Old Bookman's</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>

                    <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>

                  </div> <!-- end .single-product -->

                </div> <!-- end .recently-added -->

                <div class="square-button">
                  <button><img src="img/content/square-button.png" alt=""></button>

                  <button><img src="img/content/square-button.png" alt=""></button>
                </div> <!-- end .sqare-button -->

                <div class="latest-post-content">
                  <h2>Latest Posts</h2>

                  <div class="latest-post clearfix">

                    <div class="post-image">
                      <img src="img/content/latest_post_1.jpg" alt="">

                      <p><span>12</span>Sep</p>
                    </div>

                    <h4><a href="#">Post Title Goes Here</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>
                  </div> <!-- end .latest-post -->

                  <div class="latest-post clearfix">
                    <div class="post-image">
                      <img src="img/content/latest_post_2.jpg" alt="">

                      <p><span>09</span>Sep</p>
                    </div>

                    <h4><a href="#">Post Title Goes Here</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    <a class="read-more" href="#"><i class="fa fa-angle-right"></i>Read More</a>
                  </div> <!-- end .latest-post -->
                </div> <!-- end .latest-post-content -->

                <div class="medium-rectangle">
                  <img src="img/content/medium-rectangle.jpg" alt="">
                </div> <!-- end .medium-rectangle -->

              </div> <!-- end .post-sidebar -->
            </div> <!-- end .grid-layout -->

          </div> <!-- end .row -->
        </div> <!-- end .sample-page -->
      </div> <!-- end .page-content -->
    </div> <!-- end .container -->

  </div> <!-- end #page-content -->


{% endblock %}
