{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}

      <div class="map-section">
      </div>
    
  <div class="header-nav-bar">
        
      </div> <!-- end .header-nav-bar -->
  </header> <!-- end #header -->

  <div id="page-content">
    <div class="container">
      <div class="row">       
          <div class="page-content">
            <div class="product-details-list view-switch">   
               <div class="row clearfix">                 
                    <div  id="search_result" class="col-md-9 col-md-push-3">
                      {% for events in page.object_list %}
                        {% if events.object %}
                          <div class="single-product">
                            <figure>
                              <img src="{%static "img/content/post-img-1.jpg"%}" alt="">
                                 <figcaption>
                                <div class="bookmark">
                                  <a href="/details/{{events.object.id}}"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                                </div>

                                <div class="read-more">
                                  <a href="/details/{{events.object.id}}"><i class="fa fa-angle-right"></i> Read More</a>
                                </div>

                              </figcaption>
                            </figure>

                            <h4><a href="/details/{{events.object.id}}">{{events.object.festname}},{{events.object.City.city}},{{events.object.state}}</a></h4>

                            <h5><a href="/details/{{events.object.id}}">{{events.object.enddate}}</a> <a href="#">{{event.object.collegename}}</a></h5>

                            <p>{{events.object.festdescription}}</p>

                            <a class="read-more" href="/details/{{events.object.id}}"><i class="fa fa-angle-right"></i>Read More</a>

                          </div> <!-- end .single-product -->
                        {% endif %}
                       {%endfor%}
                     </div> <!-- end .col-md-9 col-md-push-3 -->

                     <div class="pagination-center">

                      <ul class="pagination">
                         <li>
                            {% if page.has_previous %} 
                            <a data-ajaxlink="true" data-ajaxpage="{{ page.previous_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.previous_page_number }}">
                            <i class="fa  fa-angle-double-left"></i></a> 
                            {% endif %}
                          </li>
                            {% for p in page.paginator.page_range %}
                            {% if p|add:5 >= page.number and p|add:-5 <= page.number %}
                          <li {% if p == page.number %} class="active"{% endif %}>
                            <a data-ajaxlink="true" data-ajaxpage="{{ p }}" href="?q={{request.REQUEST.q}}&page={{ p }}">
                            {{ p }}
                            </a>
                          </li> 
                            {% endif %}
                            {% endfor %}
                            
                          <li>
                            {% if page.has_next %} 
                            <a data-ajaxlink="true" data-ajaxpage="{{ page.next_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.next_page_number }}">
                            <i class="fa  fa-angle-double-right"></i>
                            </a> 
                            {% endif %}
                          </li> 
                      </ul>

                    </div>

                  </div> <!-- end .row -->
                </div> <!-- end .product-details-list view-switch -->              

              <div class="advertisement">
                <p>Advertisement</p>
                {% for banners in banner|get_banner %}
                {% if banners.pageurl == '/event' and banners.position == 'right' %}
                  <div class="item">
                  
                      <img src="media/{{banners.banner}}" >
                    
                    <div class="slide-content">
                     
                    </div>


                  </div>
                {% endif %}
                {% endfor %}
               <!--  <img src="img/add.jpg" alt=""> -->
              </div>

            </div> <!-- end .page-content -->
          </div> <!-- end .row -->
        

            <div class="col-md-3 col-md-pull-9 category-toggle">
              <button><i class="fa fa-briefcase"></i></button>

                      <div class="page-sidebar">
                        <div class="location-details">
                          <form action="#">
                            <div class="select-country">
                              <label>Country</label>

                              <select class="" data-placeholder="-Select-">
                                <option value="option1">option 1</option>
                                <option value="option2">option 2</option>
                                <option value="option3">option 3</option>
                                <option value="option4">option 4</option>
                              </select>

                            </div> <!-- end .select-country -->

                            <div class="select-state">
                              <label>State</label>

                              <select class="" data-placeholder="-Select-">
                                <option value="option1">option 1</option>
                                <option value="option2">option 2</option>
                                <option value="option3">option 3</option>
                                <option value="option4">option 4</option>
                              </select>

                            </div> <!-- end .select-state -->

                            <div class="zip-code">
                              <label>ZIP Code</label>

                              <input type="text" placeholder="Enter">

                            </div> <!-- end .zip-code -->
                          </form>
                          </div><!--end .location-details-->
                        </div> <!-- end .page side bar -->   
             </div> <!-- end grid layout-->
      </div> <!-- end .row -->
    </div> <!-- end .container -->
  </div>  <!-- end #page-content -->

{% endblock %}
