{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %} 
{% block content %}
 <div class="page-heading contact-us-heading">
        <span></span> <!-- for dark-overlay on the bg -->

        <div class="container">
          <h1>Post <span>Banner</span></h1>

          <div class="heading-link">
            <a href="#">Home</a>

            <i>/</i>

            <a href="#">Post Banner</a>
          </div>

        </div> <!-- END .container-->
      </div> <!-- END .about-us-heading -->
 <div class="banner_form">
	<input type='file' id='banner' class="banner" name='banner'/>
		<select class="banner">
			<option value="position">Top</option>
			<option value="position">Bottom</option>
			<option value="position">Left</option>
			<option value="position">Right</option>
		</select>
	<select class="banner">
		<option value="price">100000</option>
		<option value="price">50000</option>
		<option value="price">25000</option>

	</select>
	<a class="btn btn-default" href="#" ><i class="fa fa-envelope-o"></i>Upload</a>
</div>
{% endblock %}