{% autoescape off %}
{% load i18n %}
{% block content %}
{% trans "Hello" %} {{user.first_name}},

{% trans "You have asked for a password reminder for your account" %} {{user.username}}. {% trans "If this was not you, or you know your account's password, feel free to ignore this email. Your account's security has not been compromised" %}.

{% trans "Please go to the following page and choose a new password" %}:

{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% trans "Your username, in case you've forgotten"%}: {{ user.username }}

{% trans "Thanks for using our service"%}!

{% endblock %}
{% endautoescape %}
