{% load i18n %}
{% block html %}
  {% block subject %} invitations {% endblock %}
      <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px" class="feature centered">
            <tbody><tr>
              <td style="padding: 0;vertical-align: top;font-size: 0;line-height: 0;width: 600px" class="feature-top">
                <img width="320" height="4" alt="" src="https://i1.createsend1.com/static/eb/master/02-blush/images/feature-top-left.png" style="border: 0;-ms-interpolation-mode: bicubic;display: inline-block"><img width="280" height="4" alt="" src="https://i2.createsend1.com/static/eb/master/02-blush/images/feature-top-right.png" style="border: 0;-ms-interpolation-mode: bicubic;font-family: Roboto,Tahoma,sans-serif;display: inline-block" class="right">
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 0;vertical-align: top;background-color: #ffffff;padding-top: 28px;padding-bottom: 20px" class="inner">
                <table emb-background-style="" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 536px;text-align: center;border-top: 1px dashed #9ec9df;border-left: 1px dashed #9ec9df;border-right: 1px dashed #9ec9df;background-color: #ffffff;border-radius: 4px;box-shadow: none;table-layout: fixed" class="one-col">
                  <tbody><tr>
                    <td style="padding: 0;vertical-align: top;text-align: left" class="column">
                      <div><div style="font-size: 32px;line-height: 32px;transition-timing-function: cubic-bezier(0, 0, 0.2, 1);transition-duration: 150ms;transition-property: all" class="column-top">&nbsp;</div></div>
                        <table style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%" class="contents">
                          <tbody><tr>
                            <td style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word" class="padded">
                        <img width="50" height="50" alt="" src="https://i1.createsend1.com/ei/i/87/1B1/736/214305/csfinal/logo.png" style="border: 0;-ms-interpolation-mode: bicubic;display: block;Margin-left: auto;Margin-right: auto;max-width: 50px">      
            <h2 style="font-style: normal;font-weight: 400;text-align: center;font-family: bitter,georgia,serif;Margin-bottom: 20px;Margin-top: 0;font-size: 24px;line-height: 32px;color: #345e9e" class="font-bitter size-24">Warm Greeting from <a href="mailto:globalensolutions2015@gmail.com" style="transition: opacity 0.2s ease-in;color: #3797e6;text-decoration: none" target="_blank">Eventswat</a>.com</h2>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%" class="contents">
                          <tbody><tr>
                            <td style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word" class="padded">
                              
              <div align="center" style="font-size: 12px;mso-line-height-rule: at-least;font-style: normal;font-weight: 400;Margin-bottom: 25px;Margin-top: 0;font-family: Roboto,Tahoma,sans-serif;color: #888794" class="image">
               <img width="331" height="152" emb-block-render-image="" draggable="false" unselectable="on" class="emb-unselectable" ng-src="https://img.createsend1.com/resize/ei/i/31/66D/AD6/csimport/welcome.jpeg?w=600" src="https://img.createsend1.com/resize/ei/i/31/66D/AD6/csimport/welcome.jpeg?w=600">
              </div>
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%" class="contents">
                          <tbody><tr>
                            <td style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word" class="padded">
                              
            
<h2 style="font-style: normal;font-weight: 400;text-align: left;Margin-bottom: 0;Margin-top: 0;font-size: 16px;line-height: 24px;font-family: pt sans,trebuchet ms,sans-serif;color: #345e9e" class="font-pt-sans size-16">Dear {{user}},</h2><h2 style="font-style: normal;font-weight: 400;text-align: center;font-family: roboto,tahoma,sans-serif;Margin-bottom: 0;Margin-top: 20px;font-size: 16px;line-height: 24px;color: #345e9e" class="font-roboto size-16">Thankyou for becoming a member in eventswat.com group. To verify your registeration please click on the following link.</h2><h2 style="font-style: normal;font-weight: 400;text-align: center;font-family: roboto,tahoma,sans-serif;Margin-bottom: 0;Margin-top: 20px;font-size: 16px;line-height: 24px;color: #345e9e" class="font-roboto size-16">{{content}}</h2><h2 style="font-style: normal;font-weight: 400;text-align: 
center;font-family: roboto,tahoma,sans-serif;Margin-bottom: 0;Margin-top: 20px;font-size: 16px;line-height: 24px;color: #345e9e" class="font-roboto size-16">If you're not {{user}},please ignore the mail</h2>
          <a><p style="font-style: normal;font-weight: 400;text-align: center;font-family: 
roboto,tahoma,sans-serif;Margin-bottom: 0;Margin-top: 25px;font-size: 15px;line-height: 24px;color: #888794" class="font-roboto size-15">Thanks &amp; Regards<br>
Eventswat.com</p></a>
                            </td>
                          </tr>
                        </tbody></table>
                      
                      <div style="font-size: 32px;line-height: 32px;transition-timing-function: cubic-bezier(0, 0, 0.2, 1);transition-duration: 150ms;transition-property: all" class="column-bottom">&nbsp;</div>
                    </td>
                  </tr>
                </tbody></table>
                <table style="border-collapse: collapse;border-spacing: 0" class="frame-bottom">
                  <tbody><tr>
                    <td style="padding: 0;vertical-align: top;font-family: Roboto,Tahoma,sans-serif;line-height: 9px;width: 258px;border-bottom: 1px dashed #9ec9df;mso-border-bottom-alt: 1pt dashed #9ec9df;border-left: 1px dashed #9ec9df;mso-border-left-alt: 1pt dashed #9ec9df" class="left">&nbsp;</td>
                    <td rowspan="2" style="padding: 0;vertical-align: middle;mso-line-height-rule: at-least;width: 18px;line-height: 9px" class="heart">
                      <span style="background-color: #9ec9df"><img width="18" height="18" alt="" src="https://i3.createsend1.com/static/eb/master/02-blush/images/heart.png" style="border: 0;-ms-interpolation-mode: bicubic;display: block;background-color: #9ec9df"></span>
                    </td>
                    <td style="padding: 0;vertical-align: top;font-family: Roboto,Tahoma,sans-serif;line-height: 9px;width: 258px;border-bottom: 1px dashed #9ec9df;mso-border-bottom-alt: 1pt dashed #9ec9df;border-right: 1px dashed #9ec9df;mso-border-right-alt: 1pt dashed #9ec9df" class="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="padding: 0;vertical-align: top;line-height: 9px">&nbsp;</td>
                    <td style="padding: 0;vertical-align: top;line-height: 9px">&nbsp;</td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0;vertical-align: top;font-size: 0;line-height: 0;width: 600px" class="feature-bottom">
                <img width="320" height="5" alt="" src="https://i4.createsend1.com/static/eb/master/02-blush/images/feature-bottom-left.png" style="border: 0;-ms-interpolation-mode: bicubic;display: inline-block"><img width="280" height="5" alt="" src="https://i6.createsend1.com/static/eb/master/02-blush/images/feature-bottom-right.png" style="border: 0;-ms-interpolation-mode: bicubic;font-family: Roboto,Tahoma,sans-serif;display: inline-block" class="right">

              </td>
            </tr>
          </tbody></table>


 
{% endblock %}

