
{% block title %}Password reset successful{% endblock %}
{% load i18n %}
{% block content %}

<div class="popup_fade" style="display:block;"></div>
<div class="container">
          <div id="reset_div" class="reset_div" style="display: block !important;">
          <code class="close_btn cancel_btn"> </code>
            <div class="reset_title">
              <span>Reset Successful</span>
            </div>
    <p>
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted" %}.
    </p>
    <p>
        {% trans "You should be receiving it shortly" %}.
    </p>
    </div>
    </div>
 
    {% endblock %}
</div>