{% extends "registration/email_base.html" %}
{% block content %}
{% load i18n %}
<h2>{% trans "Password reset" %}</h2>
<div class="forget_password_content">
<p>{% trans "Enter your e-mail address below, and we'll e-mail" %}<br>{% trans "instructions for setting a new one" %}.</p>

<form action="" method="post">
	{% csrf_token %}
	
 
<p>
	<label class="fl" for="id_email">{% trans "E-mail address" %}:</label> {% if form.email.errors %}<span class="fl errorlist">{% trans "Invalid email" %}</span>{% endif %}
    <div class="clear_both"></div>
    {{form}}
    <!-- <input id="id_email" type="text" maxlength="75" name="email">  -->
    <input class="btn" type="submit" value="{% trans "Reset my password" %}"/></p>
</form>
</div>
{% endblock %}





