{% extends "registration/email_base2.html" %}
{% block title %}Setting New password{% endblock %}
{% load i18n %}
{% block content %}
<div class="popup_fade" style=" display:block;"></div>
<div class="container">
          <div id="reset_div" class="reset_div" style="display: block !important;">
          <code class="close_btn cancel_btn"> </code>
            <div class="reset_title">
              <span>Reset Password</span>
            </div>

        {% if validlink %}
        <p>
            {% trans "Please enter your new password twice. So we can verify you typed it in correctly" %}.
        </p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }} <label for="id_new_password1">{% trans "New password" %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }} <label for="id_new_password2">{% trans "Confirm password" %}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                    <input class="btn" type="submit" value="{% trans 'Change my password' %}" />
                    </td>
                </tr>
            </table>
        </form>
        {% else %}
        <h1>{% trans "Password reset unsuccessful" %}</h1>
        <p>
            {% trans "The password reset link was invalid"%},
            <br />
            {% trans "possibly because it has already been used"%}.
            <br />
            {% trans "Please request a new password reset" %}.
        </p>
        <a href="/" class="btn btn-home login_btn">{% trans "OK" %}</a>
        {% endif %}

    </div><!--popup_contents-->

    <div class="clear_both"></div>
{% endblock %}