{% extends "registration/email_base.html" %}
{% load i18n %}
{% block content %}
<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
		font-family: Arial;
	}
	#change_password_form label {
		font-family: Arial;
		font-size: 12px;
		color: #000;
		width: 175px;
		float: left;
	}
	.btn {
		display: inline-block;
		*display: inline;
		/* IE7 inline-block hack */

		*zoom: 1;
		margin-bottom: 0;
		font-size: 15px;
		line-height: 22px;
		*line-height: 24px;
		color: #fff;
		text-align: center;
		font-family: Arial;
		vertical-align: middle;
		cursor: pointer;
		background-color: #4889f0;
		background-image: -moz-linear-gradient(top, #4889f0, #4d90fc);
		background-image: -ms-linear-gradient(top, #4889f0, #4d90fc);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4889f0), to(#4d90fc));
		background-image: -webkit-linear-gradient(top, #4889f0, #4d90fc);
		background-image: -o-linear-gradient(top, #4889f0, #4d90fc);
		background-image: linear-gradient(top, #4889f0, #4d90fc);
		background-repeat: repeat-x;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */

		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		border: 1px solid #3079ed;
		float: right;
		margin-right: 184px;
	}
	.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
		background-color: #4889f0;
		*background-color: #4889f0;
	}
	.btn:active, .btn.active {
		background-color: #cccccc \9;
	}
	.clear_both {
		clear: both;
	}
	ul {
		padding: 0px;
	}
	li {
		list-style: none;
		color: red;
		font-weight: bold;
		font-size: 12px;
	}
	#change_password_form p {
		position: relative;
		margin: 0px;
	}
	#change_password_form .errorlist {
		margin: 6px 0 0;
		position: absolute;
		right: 0;
		width: auto;
	}
	#change_password_form .errorlist li {
		margin: 0px 0px 0px 0px;
	}
	#id_new_password1, #id_old_password, #id_new_password2 {
		color: #000;
		width: 180px;
		font-size: 12px;
		border-color: #dcdcdc;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		-o-transition: border linear 0.2s, box-shadow linear 0.2s;
		transition: border linear 0.2s, box-shadow linear 0.2s;
		line-height: 18px;
		margin-bottom: 9px;
		padding: 4px;
	}
</style>
<script>
	function iframeclick() {
		document.getElementById("theiframe").contentWindow.document.body.onclick = function() {
			document.getElementById("theiframe").contentWindow.location.reload();
		}
	}
</script>
<form method="post" action="." id="change_password_form" style="height: 180px !important; width: 514px; margin:0px !important;">
    {{form.as_table}}
    <input type="submit" value="{% trans 'Change' %}" class="btn" onclick="iframeclick()"/>
    <div class="clear_both"></div>
    {% csrf_token %}
</form>
{% endblock %}