{% extends "registration/email_base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}


<div class="reset_popup popup_pos" id="resetpassword_popup">    
        <div class="voucher_popup">
            <div class="fr">
                <span class="close_btn"></span>
            </div><!--fr-->
            <div class="col-md-3 block3">
                    <div class="col-md-12 img4">    
                        <img src="{% static "img/symposium.png" %}" alt="symposium" height="72px" width="72px"><br>
                        <span class="text1">Symposium</span>
                    </div><!--img1-->
                    <div class="col-md-12 img5">
                        <img src="{% static "img/seminar.png" %}" alt="seminar" height="72px" width="72px"><br>
                        <span class="text2">Seminar</span>
                    </div><!--img2-->
                    <div class="col-md-12 img6">
                        <img src="{% static "img/culturals.png" %}" alt="cultural" height="72px" width="72px"><br>
                        <span class="text3">Cultural</span>
                    </div><!--img3-->
            </div><!--block3-->
            
            <div class="col-md-9 block2">
              <div class="forgot_title">
              <span>Password done</span>
            </div> <!-- sign_in_title -->
            
           <p style='margin: 30px 0px;'>
            {% trans "Your password has been set. You may go ahead and log in now" %}.
        </p>
        <a href="/" class="btn btn-home login_btn">{% trans "Dashboard" %}</a>
                <img src="{% static "img/resetpwd.gif" %}" alt="open" class="reset_gif"> 
             
            </div><!--block2-->
        </div><!--voucher_popup-->
</div><!--reset_popup-->



{% endblock %}