{% extends "registration/email_base2.html" %}
{% load i18n %}

{% block content %}

<div class="popup_fade cancel_btn" style=" display:block;"></div>
<div class="container">
          <div id="reset_div" class="reset_div" style="display: block !important;">
        
            <div class="forgot_title">
              <span>Password done</span>
            </div> <!-- sign_in_title -->
            
           <p style='margin: 30px 0px;'>
            {% trans "Your password has been set. You may go ahead and log in now" %}.
        </p>
        <a href="/" class="btn btn-home login_btn">{% trans "Dashboard" %}</a>
            
        </div> <!-- forget_div -->
      </div> <!-- container -->

{% endblock %}